{# ------------------------------------
./private/home.html.j2
-----------------------
`home` page is the _landing page_ for users
`login` page is for visitors


Extends:
./layouts/base.html.j2

mgd
--------------------------------------- #}

{# the only page that the menu is enabled (for now 2024-11-05) #}
{% set navButtonState= '' %}
{% extends "layouts/base.html.j2" %}

{# eof #}