{# ------------------------------------
./private/home.html.j2
-----------------------
`home` page is the _landing page_ for users
`login` page is for visitors


Extends:
./layouts/base.html.j2

mgd
--------------------------------------- #}

{# this is the only page that has a enabled menu (at least until now 2024-15-15) #}
{% set nav_button_state= '' %}
{% set nav_sub_menu= True %}

{% extends "layouts/base.html.j2" %}

{# eof #}