{#
profile_mgmt.html.j2

Managed & Displays a grid with sep profile

mgd
#}

{% set dlg_var_close= true %}
{% set dlg_var_ok_text = "Salvar" %}
{% set dlg_var_vCentered= true %}
{% set dlg_cls_header= 'formHeader' %}
{% set dlg_cls_title= 'formTitle' %}
{% set dlg_cls_size= 'modal-xl' %} {# Size: sm, <>, lg, xl #}

    {% set dlg_cls_top= 'mt-6' %}
    {% set dlg_cls_footer= '' %} {# collapse, #}
    {% set dlg_js_frm= '' %}

    {% extends "./layouts/dialog.html.j2" %}

    {% block base_blc_head_js %}
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    {% endblock base_blc_head_js %}

    {% block dlg_blc_body %}


    <div id="grid_container" class="ag-theme-quartz" style="height: 500px"></div>

    {% endblock dlg_blc_body %}

    {% block dlg_blc_footer %}
    <div class="mb-3 row">
        <div class="col-auto">
            <button type="button" onclick="gridAdd()" class="formMainBtn">{{(grdBtnAdd |
                default("Adicionar"))}}</button>
        </div>
        <div class="col-auto">
            <button type="button" onclick="gridEdit()" class="formMainBtn">{{(grdBtnEdit |
                default("Editar"))}}</button>
        </div>
        <div class="col-auto">
            <form id="hiddenForm" onsubmit="return gridCargo('{{gridRsp}}')" method="POST" action="{{private_route('profile_mgmt')}}">
                <input type="hidden" name="{{gridRsp}}" id="{{gridRsp}}">
                <input type="hidden" name="{{gridSecKey}}" value="{{gridSecValue}}">
                <input type="submit" style="display:none;">
                <button type="submit" class="formMainBtn">{{(grdBtnSave | default("Salvar"))}}</button>
            </form>
        </div>
    </div>
    {% endblock dlg_blc_footer %}
    {% block dlg_blc_javascript %}
    <script>
        const itemNone = '{{ itemNone }}';
        const itemRemove = '{{ itemRemove }}';
        const usersSep = {{ usersSep | tojson }};
        const usedList = usersSep.map(item => item.sep)
        const initialList = {{ sepList | tojson }};
        const colSepNew = 'sep_new';
        const colHeaders = ['Sectorista', 'SEP Atual', 'Novo SEP', 'Atribuído'];

    </script>
    <script src="/static/js/profile_mgmt.js"></script>
    {% endblock dlg_blc_javascript %}
    {# eof #}