{# ------------------------------------

received_file_mgmt.html.j2
--------------------------
Manages and displays a grid of received files

Extends
./layouts/dialog.html.j2

mgd
--------------------------------------- #}
{# cSpell:ignore mgmt onclick tojson onsubmit #}

{# only specify if different from default #}
{% set dlg_cls_size= 'modal-xl' %}
{% set dlg_var_icon= iconFileUrl %}

{% extends "./layouts/dialog.html.j2" %}

{% if not msgOnly %}
{#--- msgOnly --- #}

{% block base_blc_head_js %}
{% include "./includes/grid-header.html.j2" %}
{% endblock base_blc_head_js %}

{% block dlg_blc_body %}
{% include "./includes/grid-body.html.j2" %}
{% endblock dlg_blc_body %}


{% block dlg_blc_footer %}
<div class="mb-3 row">
    <div class="col-auto">
        <button type="button" onclick="gridAdd()" class="form-main-btn">
            {{ grdBtnDwnLoadZIP }}
        </button>
    </div>
    <div class="col-auto">
        <button type="button" onclick="gridEdit()" class="form-main-btn">
            {{ grdBtnDwnLoadPDF }}
        </button>
    </div>
</div>
{% endblock dlg_blc_footer %}

{% block dlg_blc_javascript %}
<script>
    const rowData = ({{ recFiles | default ([]) | tojson }}).map(item => ({ ...item, when: item.when ? new Date(item.when) : null }));
    const colData = {{ colData | tojson }};
    const gridID = '{{ gridID }}'
    const dateFormat = '{{ dateFormat | default('pt-BR') }}';
    const itemNone = '{{ itemNone }}';
</script>
<script src='{{static_route("js/received_files_mgmt.js")}}'></script>
{% endblock dlg_blc_javascript %}

{#--- msgOnly --- #}
{% endif %}

{# eof #}