{#
----------------------------------
./private/receive_file.html.j2
----------------------------------
Receive the file from the user and sends
it to data validate, returns an e-mail

Extends:
./layouts/form.html.j2

mgd

--------------------------------------- #}
{# cSpell:ignore urlname tojson uploadfile #}

{% set form_close_btn_text= successButton %}
{% set dlg_var_icon_url= iconFileUrl %}

{% extends "./layouts/form.html.j2" %}

{% block frm_blc_inputs %}

<!-- { SEP  -->
<div class="form-group">
    <label class="form-label" inert for="{{form.schema_sep.id}}">{{ sepLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-vector-square fa-lg"></i>
        </span>
        {{ form.schema_sep() }}
    </div>
</div>
<!-- SEP } -->

<!-- { Load File -->
<div class="form-group mt-3">
    <label class="form-label" inert for="{{form.uploadfile.id}}">{{ fileLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-upload fa-lg"></i>
        </span>
        {{ form.uploadfile() }}
    </div>
</div>
<!-- Load File } -->

<!-- { Google File -->
<div class="form-group mt-3">
    <label class="form-label" inert for="{{form.urlname.id}}">{{ urlLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-cloud-upload fa-lg"></i>
        </span>
        {{ form.urlname() }}
    </div>
</div>
<!-- Google File } -->

{% endblock frm_blc_inputs %}


{% if form_display_ui %}

{% block dlg_blc_javascript %}
<script id="sep_select">
    const seps = {{ seps | tojson | safe }};
    const select = document.getElementById('{{ form.schema_sep.id }}');
    const icon = document.getElementById('{{ dlg_icon_id }}');
    const add_item = (id, text) => {
        const option = document.createElement('option');
        option.value = id < 1 ? "" : id
        option.textContent = text;
        select.appendChild(option);
    }
    seps.forEach(sep => add_item(sep.id, sep.fullname));
    select.selectedIndex = 0;
    select.addEventListener('change', () => { icon.src = seps[select.selectedIndex].icon_url; });
</script>
{% endblock dlg_blc_javascript %}

{% endif %}

{# eof #}