{# ------------------------------------

received_file_mgmt.html.j2
--------------------------
Manages and displays a grid of received files

Extends
./layouts/dialog.html.j2

mgd
--------------------------------------- #}
{# cSpell:ignore mgmt onclick tojson onsubmit dnld Rprt endfor onchange #}

{# only specify if different from default #}
{% set dlg_cls_size= 'modal-xl' %}

{% extends "./layouts/dialog.html.j2" %}

{% if not msgOnly %}
{#--- msgOnly --- #}

{% block base_blc_head_js %}
{% include "./includes/grid-header.html.j2" %}
{% endblock base_blc_head_js %}

{% block dlg_blc_body %}
{% include "./includes/grid-body.html.j2" %}
{% endblock dlg_blc_body %}


{% block dlg_blc_footer %}
<div class="mb-3 row">
    {% if users_list %}
    <div class="col-auto">
        <select id="{{sel_id}}" class="form-control form-select" style="{{sel_width}}">
            {% for code, name, enabled in users_list %}
            <option value="{{code}}" {% if not enabled %}disabled{% endif %}>{{name | safe}}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
    <div class="col-auto">
        <button type="button" onclick="download('{{dnld_F}}')" id="btn{{dnld_F}}" class="form-control form-main-btn"
            style="{{btn_width}}" disabled>
            {{btnDwnLoadFile}}
        </button>
    </div>
    <div class="col-auto">
        <button type="button" onclick="download('{{dnld_R}}')" id="btn{{dnld_R}}" class="form-control form-main-btn"
            style="{{btn_width}}" disabled>
            {{btnDwnLoadRprt}}
        </button>
    </div>
</div>
<form method="post" action="{{private_route('received_file_download')}}" id="{{grid_submit_id}}">
    <input type="hidden" name="{{grid_rsp}}" id="{{grid_rsp}}">
    <input type="hidden" name="{{grid_sec_key}}" value="{{grid_sec_value}}">
</form>
{% endblock dlg_blc_footer %}

{% block dlg_blc_javascript %}
<script id="jsData">
    const usersList = {{ users_list | default ([]) | tojson}}
    const gridRows = ({{ files_rec | default ([]) | tojson}}).map(item => ({ ...item, when: item.when ? new Date(item.when) : null }));
    const listUser = ({{ users_list | default ([]) | tojson}})
    const colMeta = {{ grid_col_meta | tojson}};
</script>
<script>
    const gridID = '{{grid_id}}';
    const dateFormat = '{{user_date_format}}';
    const itemNone = '{{itemNone}}';
    const isPower = {{ user_is_power | tojson}};
    const defButtons = () => {
        const btnFile = document.getElementById('btn{{dnld_F}}');
        const btnRprt = document.getElementById('btn{{dnld_R}}');
        return [btnFile, btnRprt];
    }
    const download = (t) => {
        if (activeRow) {
            const id = `${activeRow.data["id"]}${t}`;
            document.getElementById('{{grid_rsp}}').value = id;
            document.getElementById('{{grid_submit_id}}').submit();
        }
    }
    document.getElementById('{{sel_id}}').addEventListener('change',
        (e) => {
            const href = '{{ private_route('received_files_mgmt') }}?id=' + e.target.value;
            window.location.href = href
        }
    )
</script>

<script src='{{static_route("js/received_files_mgmt.js")}}'></script>
{% endblock dlg_blc_javascript %}

{#--- msgOnly --- #}
{% endif %}

{# eof #}