{#
----------------------------------
./private/scm_export_ui.htm.j2
----------------------------------
Exports Schemas with there Seps
Also displays an UI to set the display order to the seps

mgd

--------------------------------------- #}
{# cSpell:ignore stylesheet urlname tojson endfor ufiles #}
{% set dlg_cls_size= dlg_cls_size | default('modal-xl') %}
{% set grid_cell_id = grid_cell_id | default('grid_cell_id') %}
{% set reticle_cell_id = reticle_cell_id | default('reticle_cell_id') %}

{% extends "./layouts/dialog.html.j2" %}

{# ╒═════════════════ Base CSS ══════════════════╕ #}
{% block base_blc_head_css %}
<link href='{{static_route("css/scm_export.css")}}' rel="stylesheet">
{% endblock %}
{# ╘═════════════════ Base CSS ══════════════════╛ #}

{# ╒═════════════════ Base JS ══════════════════╕ #}
{% block base_blc_head_js %}
{% include "./includes/grid-header.html.j2" %}
{% endblock %}
{# ╘═════════════════ Base JS ═══════════════════╛ #}


{# ╒════════════════ Dialog Body ════════════════╕ #}
{% block dlg_blc_body %}

<div class="container">
   <div class="row">
      {# ╒══════════════ Column 1 ═══════════════╕ #}
      <div class="col-12 col-md-4" id='{{reticle_cell_id}}'>

         {# % set scm_count = 0 % #}

         {% for scm in schemas %}
         {% set scm_index = loop.index %}
         {% if scm.seps|length > 0 %}

         <div class="reticule-frame mb-2">
            <div class=reticule-header>
               <div class="reticule-header-color" style="background-color: {{scm.color}}" title='{{scm.color}}'></div>
               <div class="reticule-header-title">{{scm.name}}</div>
            </div>
            {% for sep in scm.seps %}
            {% set ui_order = scm_index * 100 + loop.index %}
            <span class="reticule-item reticule-item-hot" draggable="true" title='{{sep.name}} | {{sep.manager}}'>
               <img src='{{sep.icon_file_name}}' id='{{sep.scm_code}}:{{sep.code}}' data-ui-order='{{ui_order}}'>
            </span>
            {% endfor %}
            {# fill empty slots #}
            {% set empty_slots = (3 - (scm.seps|length % 3)) % 3 %}
            {% if empty_slots > 0 %}
            {% for i in range(empty_slots) %}
            <div class="reticule-item reticule-item-empty"><img src='{{ empty_icon }}'></div>
            {% endfor %}
            {% endif %}
         </div>

         {% endif %}
         {% endfor %}
      </div>
      {# ╘═════════════ Column 1 ════════════════╛ #}


      {# ╒═════════════ Column 2 ═════════════════╕ #}
      <div class="col-12 col-md-8" id='{{grid_cell_id}}'>
         {% include "./includes/grid-body.html.j2" %}
      </div>
      {# ╘═════════════ Column 2 ═════════════════╛ #}
   </div>
</div>

{% endblock dlg_blc_body %}
{# ╘════════════════ Dialog Body ════════════════╛ #}


{# ╒════════════════ Dialog Footer ═══════════════╛ #}
{% block dlg_blc_footer_buttons %}
   <div class="col-auto">
      {% from "includes/_action_forms_and_btns.html.j2" import btn_action %}
      {{ btn_action(dlg_submit_form_id, dlgBtnSaveArrange, cargo_keys.save, "disabled") }}
   </div>
   <div class="col-auto">
      {% from "includes/_action_forms_and_btns.html.j2" import btn_action %}
      {{ btn_action(dlg_submit_form_id, dlgBtnExport, cargo_keys.export) }}
   </div>
{% endblock dlg_blc_footer_buttons %}
{# ╘════════════════ Dialog Footer ═══════════════╛ #}


{# ╒════════════════ Dialog Forms ════════════════╕ #}
{% block dlg_blc_forms %}

{% from "includes/_action_forms_and_btns.html.j2" import action_form__submit %}
{{ action_form__submit(dlg_submit_form_id, private_route('scm_export', code=form_cargo_id)) }}

{% endblock dlg_blc_forms %}
{# ╘═════════════════ Dialog Forms ════════════════╛ #}


{# ╒═══════════ Dialog JavaScript ══════════════╕ #}
{% block dlg_blc_javascript %}

<script>
   const reticle = document.getElementById('{{ reticle_cell_id }}');
   const btnSave = document.getElementById('{{ do_btn_id(cargo_keys.save, dlgBtnSaveArrange) }}');
   const btnExport = document.getElementById('{{ do_btn_id(cargo_keys.export, dlgBtnExport) }}');
   const getGridOrder = () => {
      const images = reticle.querySelectorAll('.reticule-item img');
      const gridOrder = Array.from(images).map(img => img.dataset.uiOrder).join(',');
      return gridOrder;
   }
   const gridInitialOrder = getGridOrder();
   const gridRows = {{ grid_data | tojson | safe }};
   const colMeta = {{ grid_col_meta | tojson | safe }};
   const colCode = colMeta[0].n;
   const colSep = colMeta[1].n;
   const colScm = colMeta[2].n;
   const gridID = '{{ grid_id }}';
   const dateFormat = '{{ userDateFormat }}';
   // TODO *: send form server
   const cargoKeys = {{ cargo_keys | tojson }};
   const cargo = {{ cargo | tojson }};
   {# const cargo = { [cargoKeys.action]: '', [cargoKeys.index]: initRow, [cargoKeys.code]: '', [cargoKeys.data]: null } #}

   const setActiveRow = (row, rowIx) => {
      if (!row) { return; }
      cargo[cargoKeys.index] = rowIx;
      cargo[cargoKeys.code] = row.data[colCode]
   }

   {% from "includes/_action_forms_and_btns.js.j2" import form_link_action %}
   {{ form_link_action(dlg_submit_form_id, form_cargo_id) }}

</script>

<script src='{{static_route("js/scm_export_ui.js")}}''></script>

{% endblock dlg_blc_javascript %}
{# ╘══════════════ Dialog JavaScript ══════════════╛ #}


<!-- eof -->