{#
----------------------------------
./private/scm_export_ui_save.htm.j2
----------------------------------
This dialog display the result of the
Schemas & Seps Database export (Create/Update)

mgd
--------------------------------------- #}
{# cSpell:ignore #}
{% set dlg_cls_size= '' %}
{% set form_close_btn_text= btnCloseForm | default('Ok') %}
{% set form_backend_msg= msgOnly | default(True) %}

{% extends "./layouts/dialog.html.j2" %}

{# ╒════════════════ Dialog Body ════════════════╕ #}
{% block dlg_blc_body %}

{% include "includes/backend-msg.html.j2" %}

{% endblock dlg_blc_body %}
{# ╘════════════════ Dialog Body ════════════════╛ #}


{# ╒════════════════ Dialog Footer ═══════════════╛ #}
{% block dlg_blc_footer_buttons %}

   <div class="col-auto">
      {% from "includes/_action_forms_and_btns.html.j2" import btn_close_dlg %}
      {{ btn_close_dlg(dlg_close_form_id, dlg_close_btn_id, form_close_btn_text) }}
   </div>
{% endblock dlg_blc_footer_buttons %}
{# ╘════════════════ Dialog Footer ═══════════════╛ #}

<!-- eof -->