{# ------------------------------------
./private/scm_new_edit.html.j2
-------------------------------
Edit and Inserts Schema

Extends:
./layouts/form.html.j2

mgd
--------------------------------------- #}
{# cSpell:ignore tojson unselectable #}

{% set dlg_var_icon_url= iconFileUrl %}
{% set dlg_cls_size= 'modal-xl' %}

{% set id_color_inp= form.color.id %}
{% set id_color_btn= 'id-color-btn' %}
{% set id_color_img= 'id-color-img' %}


{% extends "./layouts/form.html.j2" %}

{# ╒══════════════════════ Inputs ═════════════════════════╕ #}
{% block frm_blc_inputs %}

{# ╒════════════════ Container ════════════════════════╕ #}
<div class="container">
    <div class="row">
        {# ╒══════════════ Column 1 ═══════════════╕ #}
        <div class="col-12 col-md-5">
            <div class="mb-3"> {# [ Name #}
                <div class="form-group">
                    <label class="form-label" inert for="{{ form.name.id }}">{{ nameLabel }}</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-vector-square" aria-hidden="true"></i>
                        </span>
                        {{ form.name() }}
                    </div>
                </div>
            </div> {# Name ] #}

            <div class="mb-3"> {# [ Color #}
                <div class="form-group mt-3">
                    <label class="form-label" inert for="{{ id_color_inp }}">{{ backColorLabel }}</label>
                    <div class="input-group">
                        <span class="input-group-text" style="padding: .2rem .2rem">
                            <button class="input-group-text form-icon-btn" type="button" id="{{id_color_btn}}"
                                title="{{ colorHint | default('Change: Text | Selector')}}">
                                <i class="fas" aria-hidden="true"
                                    data-class='{"text": "fa-keyboard", "color": "fa-palette"}' id="{{id_color_img}}">
                                </i>
                            </button>
                        </span>
                        {{ form.color() }}
                    </div>
                </div>
            </div>{# Color ] #}

            <div class="mb-3"> {# [ Title #}
                <div class="form-group mt-3">
                    <label class="form-label" inert for="{{ form.title.id }}">{{ titleLabel }}</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-tag" aria-hidden="true"></i>
                        </span>
                        {{ form.title() }}
                    </div>
                </div>
            </div> {# Title ] #}

            <div class="mb-3"> {# [ Simple Description #}
                <div class=" form-group">
                    <label class="form-label" inert for="{{ form.description.id }}">{{ descriptionLabel }}</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-tags" aria-hidden="true"></i>
                        </span>
                        {{ form.description() }}
                    </div>
                </div>
            </div> {# Simple Description ] #}

            <div class="mb-3"> {# [ Visible #}
                <div class="form-group">
                    <div class="form-check">
                        {{ form.visible() }}
                        <label class="unselectable-text form-check-label" for="{{form.visible.name}}">
                            {{ visibleLabel }}
                        </label>
                    </div>
                </div>
            </div> {# Visible ] #}

        </div>
        {# ╘═════════════ Column 1 ════════════════╛ #}

        {# ╒══════════════ Column 2 ═══════════════╕ #}
        <div class="col-12 col-md-7">
            <div class="form-group"> {# [ Full Description #}
                <label class="form-label" inert for="{{form.content.id}}">{{contentLabel}}</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-file-code" aria-hidden="true"></i>
                    </span>
                    {{ form.content() }}
                </div>
            </div>
        </div> {# Full Description ] #}
        {# ╘══════════════ Column 2 ═══════════════╛ #}
        
    </div>
</div>
{# ╘════════════════ Container ═══════════════════════╛ #}

{% endblock frm_blc_inputs %}
{# ╘══════════════════════ Inputs ═════════════════════════╛ #}

{% block dlg_blc_javascript %}
<script>
    const btnSubmit = document.getElementById('{{ dlg_id_submit_btn }}');
    const colorInp = document.getElementById('{{ id_color_inp }}');
    const colorBtn = document.getElementById('{{ id_color_btn }}');
    const colorImg = document.getElementById('{{ id_color_img }}');
</script>
<script src="{{static_route('js/scm_new_edit.js')}}"></script>
{% endblock dlg_blc_javascript %}


{# eof #}