{#
----------------------------------
./private/scm_export.htm.j2
----------------------------------
Exports Schemas with there Seps
Also displays an UI to set the display order to the seps

mgd

--------------------------------------- #}
{# cSpell:ignore urlname tojson stylesheet #}

{% set reticle_id = reticle_id | default('reticle') %}

{% extends "./layouts/dialog.html.j2" %}

{# ╒═════════════════ Base CSS ══════════════════╕ #}
{% block base_blc_head_css %}

<link href='{{static_route("css/scm_export.css")}}' rel="stylesheet">

{% endblock base_blc_head_css %}
{# ╘═════════════════ Base CSS ══════════════════╛ #}


{# ╒════════════════ Dialog Body ════════════════╕ #}
{% block dlg_blc_body %}

<div class="container text-center my-5" id='{{ reticle_id }}'>
   <h1 class="mb-4">Schemas</h1>
   <div class="reticule-grid">
      <div class="reticule-item" draggable="true"><img src="https://picsum.photos/id/1015/150/150" alt="Image 1">
      </div>
      <div class="reticule-item" draggable="true"><img src="https://picsum.photos/id/1016/150/150" alt="Image 2">
      </div>
      <div class="reticule-item" draggable="true"><img src="https://picsum.photos/id/1018/150/150" alt="Image 3">
      </div>
      <div class="reticule-item" draggable="true"><img src="https://picsum.photos/id/1025/150/150" alt="Image 4">
      </div>
      <div class="reticule-item" draggable="true"><img src="https://picsum.photos/id/1028/150/150" alt="Image 5">
      </div>
      <div class="reticule-item" draggable="true"><img src="https://picsum.photos/id/1040/150/150" alt="Image 6">
      </div>
      <div class="reticule-item" draggable="true"><img src="https://picsum.photos/id/1043/150/150" alt="Image 7">
      </div>
      <div class="reticule-item" draggable="true"><img src="https://picsum.photos/id/1044/150/150" alt="Image 8">
      </div>
      <div class="reticule-item" draggable="true"><img src="https://picsum.photos/id/1050/150/150" alt="Image 9">
      </div>
   </div>
</div>

{# <button id="saveButton" class="btn btn-primary mt-4">Save Order</button> #}
</div>

{% endblock dlg_blc_body %}
{# ╘════════════════ Dialog Body ════════════════╛ #}


{# ╒══════════════ Grid JavaScript ══════════════╕ #}
{% block dlg_blc_javascript %}

<script>
   const reticle = document.getElementById(' {{ reticle_id }}'); </script>

<script src='{{static_route("js/scm_export.js")}}''></script>

{% endblock dlg_blc_javascript %}
{# ╘══════════════ Grid JavaScript ══════════════╛ #}


<!-- eof -->