{# ------------------------------------

sep_mgmt.html.j2
-----------------
Managed & Displays a grid with sep «—» user

Extends
"./layouts/dialog.html.j2"

mgd
--------------------------------------- #}
{# cSpell:ignore mgmt onclick tojson onsubmit #}

{# only specify if different from default #}
{% set dlg_cls_size= 'modal-xl' %}
{% set dlg_var_icon= iconFileUrl %}

{% extends "./layouts/dialog.html.j2" %}

{% if not msgOnly %}
{#--- msgOnly --- #}

{% block base_blc_head_js %}
{% include "./includes/grid-header.html.j2" %}
{% endblock base_blc_head_js %}

{% block dlg_blc_body %}
{% include "./includes/grid-body.html.j2" %}
{% endblock dlg_blc_body %}



{% block dlg_blc_footer %}
<div class="mb-3 row">
    <div class="col-auto">
        <button type="button" onclick="gridAdd()" class="form-main-btn">
            {{(grdBtnAdd | default("Adicionar"))}}
        </button>
    </div>
    <div class="col-auto">
        <button type="button" onclick="gridEdit()" class="form-main-btn">
            {{(grdBtnEdit | default("Editar"))}}
        </button>
    </div>
    <div class="col-auto">
        <form id="hiddenForm" onsubmit="return gridCargo('{{gridRsp}}')" method="POST"
            action="{{private_route('sep_mgmt')}}">
            <input type="hidden" name="{{gridRsp}}" id="{{gridRsp}}">
            <input type="hidden" name="{{gridSecKey}}" value="{{gridSecValue}}">
            <input type="submit" style="display:none;">
            <button type="submit" class="form-main-btn" disabled id="{{gridSubmitID}}">
                {{(grdBtnSave |default("Salvar"))}}
            </button>
        </form>
    </div>
</div>
{% endblock dlg_blc_footer %}
{% block dlg_blc_javascript %}
<script>
    const itemNone = '{{ itemNone }}';
    const itemRemove = '{{ itemRemove }}';
    const usersSep = ({{ usersSep | tojson }}).map(item => {
        if (item.when) {
            item.when = new Date(item.when);
        }
        return item;
    });
    const usedList = usersSep.map(item => item.sep)
    const initialList = {{ (sepList if sepList else '[]') | tojson }};
    const colData = {{ colData| tojson }};
    const colIconSrc = colData[1].n;
    const colSepCurr = colData[3].n;
    const colSepNew = colData[4].n;
    const btnGridSubmit = /** @type {HTMLInputElement} */(document.getElementById('{{gridSubmitID}}'));
    const dateFormat = '{{ dateFormat | default('pt-BR') }}';
</script>
<script src="{{static_route('js/sep_mgmt.js')}}"></script>
{% endblock dlg_blc_javascript %}

{#--- msgOnly --- #}
{% endif %}

{# eof #}