{# ------------------------------------

sep_grid.html.j2
-----------------
CRUD for seps

Extends
"./layouts/grid.html.j2"

2025.05.23
mgd
--------------------------------------- #}
{# cSpell:ignore onclick tojson onsubmit #}

{% extends "./layouts/grid.html.j2" %}

{# only specify if different from default #}
{% set dlg_cls_size= 'modal-lg' %}

{# ╒════════════════ Grid Footer ════════════════╕ #}
{% block grid_blc_footer %}
    <div class="col-auto">
        {% from "includes/_action_forms_and_btns.html.j2" import btn_action %}
        {{ btn_action(dlg_submit_form_id, grdBtnEdit, cargo_keys.edit) }}
    </div>
    <div class="col-auto">
        {% from "includes/_action_forms_and_btns.html.j2" import btn_action %}
        {{ btn_action(dlg_submit_form_id, grdBtnDelete, cargo_keys.delete) }}
    </div>
{% endblock grid_blc_footer %}
{# ╘═══════════════ Grid Footer ═════════════════╛ #}

{# ╒════════════════ Grid Forms ═════════════════╕ #}
{% block grid_blc_forms %}

{% from "includes/_action_forms_and_btns.html.j2" import action_form__submit_cargo %}
{{ action_form__submit_cargo(dlg_submit_form_id, private_route('sep_grid', code=form_cargo_id)) }}

{% endblock grid_blc_forms %}
{# ╘════════════════ Grid Forms ═════════════════╛ #}


{# ╒══════════════ Grid JavaScript ══════════════╕ #}
{% block grid_blc_javascript %}

<script>
    const colMeta = {{ grid_col_meta | tojson | safe }};
    const colCode = colMeta[0].n;
    const colIconUrl = colMeta[1].n;

    const gridRows = {{ sep_data | tojson | safe }};
    const cargoKeys = {{ cargo_keys | tojson }};
    const gridID = '{{ grid_id }}';
    const initRow = {{ grid_init_row | default (0) }};
    const cargo = { [cargoKeys.action]: '', [cargoKeys.row_index]: initRow, [cargoKeys.code]: '' };
    const icon = /** @type {HTMLImageElement} */(document.getElementById('{{ dlg_icon_id }}'));

    {% from "includes/_action_forms_and_btns.js.j2" import form_link_action %}
    {{ form_link_action(dlg_submit_form_id, form_cargo_id) }}

</script>
<script src="{{static_route('js/sep_grid.js')}}"></script>

{% endblock grid_blc_javascript %}
{# ╘══════════════ Grid JavaScript ══════════════╛ #}

{# eof #}