{# ------------------------------------

sep_mgmt.html.j2
-----------------
Managed & Displays a grid with sep «—» user

Extends
"./layouts/grid.html.j2"

v2 2024.04.01--28
mgd
--------------------------------------- #}
{# cSpell:ignore onclick tojson onsubmit #}

{% extends "./layouts/grid.html.j2" %}

{% set dlg_cls_size= 'modal-lg' %}

{% block grid_blc_footer %}
    <div class="col-auto">
        {% from "includes/_action_forms_and_btns.html.j2" import btn_submit %}
        {{ btn_submit(dlg_submit_form_id, dlg_submit_btn_id, grdBtnSave, "disabled") }}
    </div>
    <div class="col-auto">
        {% from "includes/_action_forms_and_btns.html.j2" import btn_close_dlg %}
        {{ btn_close_dlg(dlg_close_form_id, dlg_close_btn_id, grdBtnCancel) }}
    </div>
{% endblock grid_blc_footer %}

{% block grid_blc_forms %}
{% from "includes/_action_forms_and_btns.html.j2" import action_form__submit_cargo %}
{{ action_form__submit_cargo(dlg_submit_form_id, private_route('sep_mgmt'), 'post', "onsubmit='return doGridCargo()'")}}
{# TODO: use submit event instead of  doGridCargo #}
{% endblock grid_blc_forms %}


{% block grid_blc_javascript %}
{#
* userList *
is a constant reference, but its contents(the array) can be modified.
Create a copy of user_list(or empty array), then add (itemNone)

* colMeta*
0: { h: "", n: "sep_id" }
1: { h: "", n: "file_url" }
2: { h: "", n: "user_curr" } current manager
3: { h: "Setor Estratégico", n: "sep_fullname" }
4: { h: "Gestor", n: "user_new" } new manager
5: { h: "Atribuído em", n: "assigned_at" }
6: { h: "Visível",, n: "visible" }
​#}
​
<script>
    const colMeta = {{ grid_col_meta | tojson | safe }};
    const colUserCurr = colMeta[1].n;
    const colIconUrl = colMeta[2].n;
    const colUserNew = colMeta[4].n;

    const gridRows = ({{ sep_data | tojson | safe }}).map(item => {
        item.assigned_at = item.assigned_at ? new Date(item.assigned_at) : null;
        return item;
    });
    const itemNone = '{{ itemNone }}';
    const userList = [...{{ user_list | tojson }}, itemNone];
    const cargoKeys = {{ cargo_keys | tojson }};
    const gridID = '{{ grid_id }}';
    const iconID = '{{ dlg_icon_id }}';
    const respID = '{{ form_cargo_id }}';
    const btnGridSubmit = /** @type {HTMLInputElement} */(document.getElementById('{{dlg_submit_btn_id}}'));
    const dateFormat = '{{ userDateFormat }}';

</script>
<script src="{{static_route('js/sep_mgmt.js')}}"></script>
{% endblock grid_blc_javascript %}


{# eof #}