{# ------------------------------------
./private/sep_new_edit.html.j2
-------------------------------
Edit and Inserts SEP

Extends:
./layouts/form.html.j2

mgd
--------------------------------------- #}
{# cSpell:ignore tojson unselectable #}

{% set dlg_var_icon_url= iconFileUrl %}
{% extends "./layouts/form.html.j2" %}

{# ╒═════════════════════ Inputs ═════════════════════════╕ #}
{% block frm_blc_inputs %}

{# [ Manager (when is_full_edit) #}
{% if (form.manager_name and form.manager_name.data) or formForNew %}
<div class="form-group mb-2">
    {# TODO correct 'for' #}
    <label class="form-label" inert for="{{ form.manager_list.id if formForNew else form.manager_name.id }}">
        {{ managerLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-circle-user" aria-hidden="true"></i>
        </span>
        {% if formForNew %}
        {{ form.manager_list() }}
        {% else %}
        {{ form.manager_name() }}
        {% endif %}

    </div>
</div>
{% endif %}
{# Manager ] #}

{# [ Schema: Select (new) | Input (edit) #}
<div class="form-group">
    <label class="form-label" inert for="{{ form.schema_list.id if formForNew else form.schema_name.id }}">
        {{ schemasLabel if formForNew else schemaLabel }}
    </label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-vector-square" aria-hidden="true"></i>
        </span>
        {% if formForNew %}
        {{ form.schema_list() }}
        {% else %}
        {{ form.schema_name() }}
        {% endif %}
    </div>
</div>
{# Schema ] #}

{# [ Visible #}
<div class="form-group mt-2">
    <div class="form-check">
        {{ form.visible() }}
        <label class="unselectable-text form-check-label" for="{{form.visible.name}}">
            {{ visibleLabel }}
        </label>
    </div>
</div>
{# Visible ] #}

{# [ Name #}
<div class="form-group mt-2">
    <label class="form-label" inert for="{{ form.sep_name.id }}">{{ sepLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-layer-group" aria-hidden="true"></i>
        </span>
        {{ form.sep_name() }}
    </div>
</div>
{# Name ] #}

{# [ Description #}
<div class="form-group mt-2">
    <label class="form-label" inert for="{{ form.description.id }}">{{ descriptionLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-tag" aria-hidden="true"></i>
        </span>
        {{ form.description() }}
    </div>
</div>
{# Description ] #}

{# [ Icon #}
<div class="form-group mt-2 mb-3">
    <label class="form-label" inert for="{{ form.icon_filename.id }}">{{ fileLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-image" aria-hidden="true"></i>
        </span>
        {{ form.icon_filename() }}
    </div>
</div>
{# Icon ] #}

{% endblock frm_blc_inputs %}
{# ╘═════════════════════ Inputs ═════════════════════════╛ #}


{# ╒══════════════ If: New & display -> JS ═══════════════╕ #}

{% block dlg_blc_javascript %}

{% if formForNew and form_bke_display_ui %}
<script>
    const scm_list = document.getElementById('{{ form.schema_list.id }}');
    const mng_list = document.getElementById('{{ form.manager_list.id }}');
    const add_item = (list, id, text) => {
        const option = document.createElement('option');
        option.value = id
        option.textContent = text;
        list.appendChild(option);
    }
    ({{ schemaList | tojson | safe }}).forEach(schema => add_item(scm_list, schema.id, schema.name));
    scm_list.value = '{{ schemaListValue }}';
    ({{ managerList | tojson | safe }}).forEach(manager => add_item(mng_list, manager.id, manager.name));
    mng_list.value = '{{ managerListValue }}';
</script>
{% endif %}

{% endblock dlg_blc_javascript %}

{# ╘══════════════ If: New & display -> JS ═══════════════╛ #}
{# eof #}