{# ------------------------------------

sep_mgmt.html.j2
-----------------
Managed & Displays a grid with sep «—» user

Extends
"./layouts/dialog.html.j2"

mgd
--------------------------------------- #}
{# cSpell:ignore mgmt onclick tojson onsubmit #}

{# only specify if different from default #}
{% set dlg_cls_size= 'modal-xl' %}
{% set dlg_var_icon= iconFileUrl %}

{% extends "./layouts/dialog.html.j2" %}

{% if not msgOnly %}
{#--- msgOnly --- #}

{% block base_blc_head_js %}
{% include "./includes/grid-header.html.j2" %}
{% endblock base_blc_head_js %}

{% block dlg_blc_body %}
{% include "./includes/grid-body.html.j2" %}
{% endblock dlg_blc_body %}



{% block dlg_blc_footer %}
<div class="mb-3 row">
    <div class="col-auto">
        <button type="button" onclick="gridAdd()" class="form-main-btn">
            {{(grdBtnAdd | default("Adicionar"))}}
        </button>
    </div>
    <div class="col-auto">
        <button type="button" onclick="gridEdit()" class="form-main-btn">
            {{(grdBtnEdit | default("Editar"))}}
        </button>
    </div>
    <div class="col-auto">
        <form id="hiddenForm" onsubmit="return gridCargo('{{grid_rsp}}')" method="POST"
            action="{{private_route('sep_mgmt')}}">
            <input type="hidden" name="{{grid_rsp}}" id="{{grid_rsp}}">
            <input type="hidden" name="{{grid_sec_key}}" value="{{grid_sec_value}}">
            {# <input type="submit" style="display:none;"> #}
            <button type="submit" class="form-main-btn" disabled id="{{grid_submit_id}}">
                {{(grdBtnSave |default("Save"))}}
            </button>
        </form>
    </div>
</div>
{% endblock dlg_blc_footer %}
{% block dlg_blc_javascript %}
<script>
    const itemNone = '{{ itemNone }}';
    const itemRemove = '{{ itemRemove }}';
    const rowData = ({{ usersSep | tojson }}).map(item => {
        if (item.when) {
            item.when = new Date(item.when);
        }
        return item;
    });
    const usedList = rowData.map(item => item.sep);
    const initialList = {{ (sepList if sepList else '[]') | tojson }};
    const gridID = '{{ grid_id }}';
    const colMeta = {{ colData | tojson }};
    const colIconSrc = colMeta[1].n;
    const colSepCurr = colMeta[3].n;
    const colSepNew = colMeta[4].n;
    const btnGridSubmit = /** @type {HTMLInputElement} */(document.getElementById('{{grid_submit_id}}'));
    const dateFormat = '{{ dateFormat }}';
    const formAdd = '{{ formAdd }}';
    const formEdit = '{{ formEdit }}';
    const formCantEdit = '{{ formCantEdit }}';
</script>
<script src="{{static_route('js/sep_mgmt.js')}}"></script>
{% endblock dlg_blc_javascript %}

{#--- msgOnly --- #}
{% endif %}

{# eof #}