{# ------------------------------------
./private/sep_edit.html.j2
-------------------------------
Edit and Inserts SEP

Extends:
./layouts/form.html.j2

mgd
--------------------------------------- #}
{# cSpell:ignore tojson #}

{% set dlg_var_icon_url= iconFileUrl %}
{% extends "./layouts/form.html.j2" %}

{# {% if not msgOnly %} #}
{#--vv-- not msgOnly --- #}

{% block frm_blc_inputs %}

{% if formForNew %}
<!-- { Schema -->
<div class="form-group">
    <label class="form-label" inert for="{{ form.schema.id }}">{{ schemaLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-vector-square" aria-hidden="true"></i>
        </span>
        {{ form.schema() }}
    </div>
</div>
<!-- Schema } -->
{% endif %}

<!-- { Name -->
<div class="form-group mt-3">
    <label class="form-label" inert for="{{ form.name.id }}">{{ sepLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-id-badge" aria-hidden="true"></i>
        </span>
        {{ form.name() }}
    </div>
</div>
<!-- Name } -->

<!-- { Description -->
<div class="form-group mt-3">
    <label class="form-label" inert for="{{ form.description.id }}">{{ descriptionLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-tag" aria-hidden="true"></i>
        </span>
        {{ form.description() }}
    </div>
</div>
<!-- Description } -->

<!-- { Icon -->
<div class="form-group mt-3">
    <label class="form-label" inert for="{{ form.icon_filename.id }}">{{ fileLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-image" aria-hidden="true"></i>
        </span>
        {{ form.icon_filename() }}
    </div>
</div>
<!-- Icon } -->

{% endblock frm_blc_inputs %}

{% if formForNew and not msgOnly %}

{% block dlg_blc_javascript %}

<script>
    const select = document.getElementById('{{ form.schema.id }}');
    const add_item = (id, text) => {
        const option = document.createElement('option');
        option.value = id < 1 ? "" : id
        option.textContent = text;
        select.appendChild(option);
    }

    ({{ schemaList | tojson | safe }}).forEach(sep => add_item(sep.id, sep.name));
</script>

{% endblock dlg_blc_javascript %}

{% endif %}
{#--^^-- not msgOnly --- #}
{# eof #}