{# ------------------------------------
./private/sep_edit.html.j2
-------------------------------
Edit and Inserts SEP

Extends:
./layouts/form.html.j2

mgd
--------------------------------------- #}
{# cSpell:ignore tojson #}

{% set dlg_var_icon_url= iconFileUrl %}
{% extends "./layouts/form.html.j2" %}

{# ╒═════════════════════ Inputs ═════════════════════════╕ #}
{% block frm_blc_inputs %}

{# [ Manager (when is_full_edit) #}
{% if form.manager_name() %}
<div class="form-group mb-3">
    <label class="form-label" inert for="{{ form.manager_name.id }}">{{ managerLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-circle-user" aria-hidden="true"></i>
        </span>
        {{ form.manager_name() }}
    </div>
</div>
{% endif %}
{# Manager ] #}

{# [ Schema: Select (new) | Input (edit) #}
<div class="form-group mb-3">
    <label class="form-label" inert for="{{ schema_id }}">{{ schemasLabel if formForNew else schemaLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-vector-square" aria-hidden="true"></i>
        </span>
        {% if formForNew %}
        {{ form.schema_list() }}
        {% else %}
        {{ form.schema_name() }}
        {% endif %}
    </div>
</div>
{# Schema ] #}

{# [ Name #}
<div class="form-group">
    <label class="form-label" inert for="{{ form.sep_name.id }}">{{ sepLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-id-badge" aria-hidden="true"></i>
        </span>
        {{ form.sep_name() }}
    </div>
</div>
{# Name ] #}

{# [ Description #}
<div class="form-group mt-3">
    <label class="form-label" inert for="{{ form.description.id }}">{{ descriptionLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-tag" aria-hidden="true"></i>
        </span>
        {{ form.description() }}
    </div>
</div>
{# Description ] #}

{# [ Icon #}
<div class="form-group mt-3">
    <label class="form-label" inert for="{{ form.icon_filename.id }}">{{ fileLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-image" aria-hidden="true"></i>
        </span>
        {{ form.icon_filename() }}
    </div>
</div>
{# Icon ] #}

{% endblock frm_blc_inputs %}
{# ╘═════════════════════ Inputs ═════════════════════════╛ #}


{# ╒══════════════ If: New & display -> JS ═══════════════╕ #}

{% block dlg_blc_javascript %}

{% if formForNew and form_bke_display_ui %}
<script>
    const select = document.getElementById('{{ form.schema_list.id }}');
    const add_item = (id, text) => {
        const option = document.createElement('option');
        option.value = id
        option.textContent = text;
        select.appendChild(option);
    }
    ({{ schemaList | tojson | safe }}).forEach(schema => add_item(schema.id, schema.name));
    select.value = '{{ schemaListValue }}';
</script>
{% endif %}

{% endblock dlg_blc_javascript %}

{# ╘══════════════ If: New & display -> JS ═══════════════╛ #}
{# eof #}