{# ------------------------------------
./private/sep_edit.html.j2
-------------------------------
Edit the attributes of a SEP

Extends:
./layouts/form.html.j2

mgd
--------------------------------------- #}


{# % set btnMsgOnly = successButton % #}
{% extends "./layouts/form.html.j2" %}


{% block frm_blc_content %}
{% if not msgOnly %}

<!-- { Name -->
<div class="form-group">
    <label class="form-label" inert for={{ form.name.id }}>{{ nameLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fa fa-id-badge" aria-hidden="true"></i>
        </span>
        {{ form.name() }}
    </div>
</div>
<!-- Name } -->

<!-- { Description -->
<div class="form-group mt-3">
    <label class="form-label" inert for={{ form.description.id }}>{{ descriptionLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fa fa-tag" aria-hidden="true"></i>
        </span>
        {{ form.description() }}
    </div>
</div>
<!-- Description } -->

<div class="form-group mt-3">
    <label class="form-label" inert for={{ form.icon_filename.id }}>{{ fileLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fa fa-image" aria-hidden="true"></i>
        </span>
        {{ form.icon_filename() }}
    </div>
</div>
{% endif %}
{% endblock frm_blc_content %}

{# eof #}