{# ------------------------------------

sep_mgmt.html.j2
-----------------
Managed & Displays a grid with sep «—» user

Extends
"./layouts/dialog.html.j2"

v2 2024.04.01--28
mgd
--------------------------------------- #}
{# cSpell:ignore onclick tojson onsubmit #}

{% extends "./layouts/dialog.html.j2" %}

{# only specify if different from default #}
{% set dlg_cls_size= 'modal-xl' %}
{% set dlg_var_icon_url= iconFileUrl %}
{% set dlg_var_icon_id= 'dlg-icon-id' %}
{% set grid_submit_id= 'grd-submit-id' %}


{% if not msgOnly %}
{#--vv-- not msgOnly --- #}

{% block base_blc_head_js %}
{% include "./includes/grid-header.html.j2" %}
{% endblock base_blc_head_js %}

{% block dlg_blc_body %}
{% include "./includes/grid-body.html.j2" %}
{% endblock dlg_blc_body %}

{% block dlg_blc_footer %}
<div class="mb-2 row">
    <div class="col-auto">
        {% from "includes/_action_forms_and_btns.html.j2" import btn_submit %}
        {{ btn_submit(dlg_var_submit_id, grdBtnSave, grid_submit_id, "disabled" ) }}
    </div>
    <div class="col-auto">
        {% from "includes/_action_forms_and_btns.html.j2" import btn_close %}
        {{ btn_close(action_form__form_close_id, grdBtnCancel ) }}
    </div>
</div>
{% endblock dlg_blc_footer %}

{% block base_blc_forms %}
{{ super() }}
<form method="post" action="{{private_route('sep_mgmt')}}" id={{dlg_var_submit_id}}
    onsubmit="return gridCargo('{{grid_rsp}}')">
    <input type="hidden" name="{{grid_rsp}}" id="{{grid_rsp}}">
    <input type="hidden" name="{{grid_sec_key}}" value="{{grid_sec_value}}">
</form>
{% endblock base_blc_forms %}

{% block dlg_blc_javascript %}
{#
* userList *
is a constant reference, but its contents(the array) can be modified.
Create a copy of user_list(or empty array), then add (itemNone)

* colMeta*
0: { h: "", n: "sep_id" }
1: { h: "", n: "file_url" }
2: { h: "", n: "user_curr" } current manager
3: { h: "Setor Estratégico", n: "sep_fullname" }
4: { h: "Gestor", n: "user_new" } new manager
5: { h: "Atribuído em", n: "assigned_at" }
​#}

<script>
    const colMeta = {{ grid_col_meta | tojson | safe }};
    const colUserCurr = colMeta[1].n;
    const colIconUrl = colMeta[2].n;
    const colUserNew = colMeta[4].n;

    const gridRows = ({{ sep_data | tojson | safe }}).map(item => {
        item.assigned_at = item.assigned_at ? new Date(item.assigned_at) : null;
        return item;
    });
    const itemNone = '{{ itemNone }}';
    const userList = [...{{ user_list | tojson }}, itemNone];
    const cargoKeys = {{ cargo_keys | tojson }};
    const gridID = '{{ grid_id }}';
    const iconID = '{{ dlg_var_icon_id }}';
    const btnGridSubmit = /** @type {HTMLInputElement} */(document.getElementById('{{grid_submit_id}}'));
    const dateFormat = '{{ user_date_format }}';

</script>
<script src="{{static_route('js/sep_mgmt.js')}}"></script>
{% endblock dlg_blc_javascript %}

{% endif %}
{#--^^-- not msgOnly --- #}

{# eof #}