{# uploadfile.html.j2 (mgd) #}

{% extends "./layouts/form.html.j2" %}

{% block frm_blc_above %}
    {% if msgSuccess %}
        <div class="d-grid">
            <button type="button" class="btn formMainBtn"
                onclick="window.location.href='{{ private_route('home') }}'">{{ successButton }}</button>
        </div>
    {% endif %}
{% endblock frm_blc_above %}

{% block frm_blc_content %}
    {% if not msgSuccess %}
        <div class="form-group mb-3">
        <label class="formLabel" inert for="upload_file">{{ fileLabel }}</label>
        <div class="input-group">
            {{ form.filename() }}
        </div>
        </div>
    {% endif %}
{% endblock frm_blc_content %}


{# eof #}