/* refloresta.css */

body {
   background-image: url(../img/pages/1440_Tree-tops.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

.wzdBackdrop {
  margin-top: 2%
}

.wzdContainer {
  padding: 0px;
}

/* Header: Left: logo, right: Title / sub title */
.wzdHeader{
  width: 100%;
  background-color: var(--bs-gray-300);
  padding: 1rem 1rem;
  border-radius: 15px 15px 0 0;
}

.wzdLogo {
  background: url(../img/logo-wzd.png) no-repeat center top;
  height: 52px;  /* this is important */
  width: 52px;
}

/* Body: specific for each wizard */
.wzdBody {
  width: 100%;
  padding: 1.2em 0.5em;
  background-color: var(--bs-gray-500);
  text-align: center;
}

/* Footer: a Ok button and display selected info */
.wzdFooter {
  width: 100%;
  text-align: center;
  background-color: var(--bs-gray-400);
  border-radius: 0 0 15px 15px;
}

/* User Selection Display area (inside Footer) */
.wzdUsDisplay {
  width: 100%;
  border-top: 1px solid var(--bs-gray-600);
  text-align: center;
  background-color: var(--bs-warning);
  padding: 0.1em 0px;
}

.wzdBtnNext{
  width: 6em;
  margin: 0.5rem 0.5rem;
}


.rfsContainer{
  margin-top: 4% !important;
  width: 52%;
  background: var(--bs-gray-200);
  padding: 0.5em;
  margin: 0 auto;
  border-radius: 15px;
  font-size: 10px;
}

/*~*/