/* refloresta.css */
/* Miguel Gastelumendi -- mgd */

body {
  background-image: url(../img/pages/mataAtlantica.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wzd-backdrop {
  margin-top: 2%;
}

.wzd-container {
  padding: 0px;
}

/* Header: Left: logo, right: Title / sub title */
.wzd-header {
  --bs-gutter-x: 0 !important;
  width: 100%;
  background-color: var(--bs-gray-400);
  padding: 1rem 1rem;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wzd-logo {
  background: url(../img/logo-wzd.png) no-repeat center top;
  height: 52px;
  /* this is important */
  width: 52px;
}

/* Body: specific for each wizard */
.wzd-body {
  width: 100%;
  padding: 1.2em 0.5em;
  background-color: var(--bs-white);
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 80vh;
}

/* Footer: a Ok button and display selected info */
.wzd-footer {
  width: 100%;
  text-align: center;
  background-color: var(--bs-gray-400);
  border-radius: 0 0 15px 15px;
}

/* User Selection Display area (inside Footer) */
.wzd-selectedItem {
  width: 100%;
  text-align: center;
  background-color: var(--bs-success);
  padding: 0.1em 0px;
  border-radius: 0 0 15px 15px;
}

.wzd-btnNext,
.wzd-btnHelp {
  width: 6em;
  margin: 0.5rem 0.5rem;
}

.wzd-btnNextText::after {
  width: 6em;
  content: "Próximo";
}

.wzd-btnOpensModal::after {
  content: "\00A0\00A0\2197";
}

/* Footer text */
.mdl-technical {
  width: 100%;
  text-align: left;
  background-color: var(--bs-danger-backg);
  border: 1px solid var(--bs-gray-600);
  color: var(--bs-gray-600);
  font-size: smaller;
  padding: 0.2rem;
}

.mdl-technical::before {
  content: "\26A0\00A0\00A0";
}

/* .btnHelper{
  background-color: red;
} */

/*~*/
