[submodule "mgd-sidekick"]
	path = mgd-sidekick
	url = https://miguelgastelumendi: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@github.com/user/PrivateSharedFolder.git
