# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
.venv/

# other
.DS_Store

# sphinx docs
_build
_static
_templates

# javascript
package-lock.json
.vscode/symbols.json

carranca/static/assets/node_modules
carranca/static/assets/yarn.lock
carranca/static/assets/.temp

# mgd
.idea/
carranca/static/docs/
uploaded_files/
LocalDrive/


### Flask template
instance/*
!instance/.gitignore
.webassets-cache

mount-win.sh
#eof

