# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
env
venv

# other
.DS_Store

# sphinx docs
_build
_static
_templates

# javascript
package-lock.json
.vscode/symbols.json

carranca/static/assets/node_modules
carranca/static/assets/yarn.lock
carranca/static/assets/.temp

# mgd
*.hlp
test.js
test.html
caat/
carranca/static/docs/
shared/user_data/
_rural/

### Flask template
instance/*
!instance/.gitignore
.webassets-cache
.env

