# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
.venv/

# other
.DS_Store

# sphinx docs
_build
_static
_templates

# javascript
package-lock.json
.vscode/symbols.json

# Flask template
instance/*
!instance/.gitignore
.webassets-cache

## Canoa per git's user
carranca/static/sep_icons
carranca/static/docs/
carranca/log_files
user_files/
uploaded_files/
downloaded_files/
LocalStorage/
data_tunnel/


## Canoa Linux
mount-win.sh

#eof

