<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add 
		name="PythonHandler"
		path="*"
		verb="*"
		modules="FastCgiModule"
		scriptProcessor="C:\Program Files\Python\Python310\python.exe|C:\Progra~1\Python\Python310\Lib\site-packages\wfastcgi.py"
		resourceType="Unspecified"
		requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="main.py" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>

