flask_minify #run.py
flask_login
flask_sqlalchemy
psycopg2-binary   #for connStr postgresql:/ 'indirectly uese postgresql psycopg2 as a (defualt?) dialect.
requests  #carranca\authentication\routes.py
flask_wtf  #carranca\authentication\forms.py
sendgrid  #carranca\home\emailstuff.py
pandas #carranca\home\dbquery.py (listed in requirements.txt but...)
plotly #carranca\home\dbquery.py (listed in requirements.txt but...)
## escape  depreciated from flask, use markupsafe => fixed inf `carranca\home\helper.py`
## Markup not found in carranca\home\routes.pys
beautifulsoup4 #carranca\home\htmlHelper.py mgd

# Canoa Needs,
Jinja2 # update ==3.0.2
pipreqs


