<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform 
		processPath="F:\Desenv\Git\AdaptaBrasil\canoa\rema.bat" 
		arguments="" 
		stdoutLogEnabled="true" 
		stdoutLogFile=".\logs\stdout.log"
		startupTimeLimit="3600" 
		processesPerApplication="16">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="F:\Desenv\Git\AdaptaBrasil\canoa\.venv\Scripts" />
      </environmentVariables>
    </httpPlatform>
    <rewrite>
      <rules>
        <rule name="Reverse Proxy to Canoa" stopProcessing="true">
          <match url="^wcanoa/(.*)" />
          <action type="Rewrite" url="http://192.168.0.101:1999/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
