/*
   accounts.css
      for accounts.tmpl & extenders, like
         - Login
         - Change Password
         - Get User email
         - Register

   2024-03-12
   Miguel Gastelumendi -- mgd
*/

:root {
   --buttonColor: #4c811d;
   --titleColor:  #4c811d;
   --labelColor: #5a443d;
   --linkColor: #5a443d;
}

/* === Helpers === */
.accountLabel {
   position: initial;
   color: var(--labelColor);
 }

 .accountLink {
   color: var(--linkColor);
   font-weight: 800;
 }

 .accountLink:hover {
    text-decoration: underline;
 }

 .accountTwoCells {
   display: flex;
   justify-content: space-between;
   margin: 10px 0 10px;
 }

  /* === Title === */
 .accountPageImage {
   position: relative;
 }

 .accountPageTitle {
   position: absolute; /* Position the text absolutely within the parent div */
   top: 0px;
   padding: 6px;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.4);
   /* style variant weight size family */
   font: normal normal 800 180% 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: var(--titleColor);
}

/* .accountPageTitle::before {
   content: var(--project-name)  ' – '; /* '\f2009\f2013\f0A0'; "&thinsp;&ndash;&nbsp");
}
 */

 /* === Buttons === */
.accountCheckBtn:checked {
   accent-color: var(--buttonColor);
}

.accountMainBtn{
  background-color: var(--buttonColor);
  border: none;
  color: white;
}

.accountMainBtn:hover {
  background-color: var(--buttonColor);
  filter: brightness(120%);
}

.accountMainBtn:disabled {
  background-color: var(--buttonColor);
  filter: brightness(60%);
}

/* eof */