/*
   accounts.css
      for accounts.tmpl & extenders, like
         - Login
         - Change Password
         - Get User email
         - Register

   2024-03-12
   Miguel Gastelumendi -- mgd
*/

:root {
   --buttonColor: #4c811d;
   --titleColor:  #4c811d;
   --labelColor: #5a443d;
   --linkColor: #5a443d;
}

/* === Helpers === */
.accountLabel {
   position: initial;
   color: var(--labelColor);
 }

 .accountLink {
   color: var(--linkColor);
   font-weight: 800;
 }

 .accountLink:hover {
    text-decoration: underline;
 }

 .accountTwoCells {
   display: flex;
   justify-content: space-between;
   margin: 10px 0 10px;
 }

 .accountCheckBtn:checked {
   accent-color: var(--buttonColor);
}

.btnSubmit {
   background-color: var(--buttonColor);
   border: none;
   color: white;
}

.btnSubmit:hover {
  background-color: var(--buttonColor);
  filter: brightness(120%);
}

.btnSubmit:disabled {
  background-color: var(--buttonColor);
  filter: brightness(60%);
}

/* eof */