/*
   form.css
      for form.tmpl & extenders, such as
         - Login
         - Change Password
         - Get User email
         - Register

   2024-03-12
   Miguel Gastelumendi -- mgd
*/

:root {
   --buttonColor: #4c811d;
   --titleColor:  #4c811d;
   --labelColor: #5a443d;
   --linkColor: #5a443d;
}

/* === Helpers === */
.formLabel {
   position: initial;
   color: var(--labelColor);
 }

 .formLink {
   color: var(--linkColor);
   font-weight: 800;
 }

 .formLink:hover {
    text-decoration: underline;
 }

 .formTwoCells {
   display: flex;
   justify-content: space-between;
   margin: 6px 0 6px;
 }

 .formCheckBtn:checked {
   accent-color: var(--buttonColor);
}

.formMainBtn {
   background-color: var(--buttonColor);
   border: none;
   color: white;
}

.formMainBtn:hover {
  background-color: var(--buttonColor);
  filter: brightness(120%);
}

.formMainBtn:disabled {
  background-color: var(--buttonColor);
  filter: brightness(60%);
}

/* eof */