<!-- === Modal window, call userMessage( sMsg, sTitle, oOptions, fOnClose ) === -->
<div id="mdlWindow" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div id="mdlHeader" class="modal-header">
            <h1 id="mdlTitle" class="modal-title fs-5"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div id="mdlMessage" class="modal-body"></div>
         <div id="mdlFooter" class="modal-footer">
            <button type="button" class="btn btn-primary" style="min-width: 6em;" data-bs-dismiss="modal">OK</button>
         </div>
      </div>
   </div>
</div>

<script>
   const mdlControl = {
      /** @private */
      ge: (sId) => document.getElementById(sId),

      /**
       * @param {string} sHtmlMessage Message.  Don't use <br> instead use <p></p>
       * @param {string} [sTitle = 'Refloresta SP']
       * @param {Object} [oOptions = {}] Options
       * @param {function} [fOnClose = null] callback after window close
       * @private
       */
      message: (sHtmlMessage, sTitle = 'Refloresta SP', oOptions = {}, fOnClose = null) => {
         const sStyle = oOptions.style ? oOptions.style : 'info';
         const sIcon = oOptions.icon ? oOptions.icon : sStyle;
         const sStyleClass = sStyle ? `alert-${sStyle} text-${sStyle}` : '';
         mdlControl.ge('mdlTitle').innerText = sTitle;
         mdlControl.ge('mdlMessage').innerHTML = sHtmlMessage ? sHtmlMessage : 'Mensagem não disponível.';
         const eleHdr = mdlControl.ge('mdlHeader');
         eleHdr.classList.add(...sStyleClass.split(' '));
         const eleMdl = mdlControl.ge('mdlWindow');
         const mdlWindow = new bootstrap.Modal(eleMdl, { backdrop: 'static' });
         eleMdl.addEventListener(
            'hidden.bs.modal',
            e => {
               eleHdr.classList.remove(...sStyleClass.split(' '));
               if (fOnClose) { fOnClose(); }
            }
         );
         mdlWindow.show();
      },

      /**
       * Displays a modal info  window
       * @param {string} sHtmlMessage Mensagem.
       * @param {string} [sTitle] Título da janela
       * @public
       */
      messageInfo: (sHtmlMessage, sTitle) => {
         mdlControl.message(sHtmlMessage, sTitle, { style: 'info' });
      },

      /**
       * Displays a modal error window
       * @param {string} sHtmlMessage Mensagem. Don't use <br> instead use <p></p>
       * @param {string} [sTitle] Título da janela
       * @public
       */
      messageError: (sHtmlMessage, sTitle) => {
         mdlControl.message(sHtmlMessage, sTitle, { style: 'danger' });
      },

      /**
       * Displays a modal error window
       * @param {string} sHtmlHelp Help html text. Don't use <br> instead use <p></p>
       * @param {string} [sTitle] Título da janela
       * @public
       */
       displayHelp: (sHtmlHelp, sTitle) => {
         // TODO: set scroll bar to body
         mdlControl.message(sHtmlHelp, sTitle, { style: 'info', icon: 'help' });
      },

   }
</script>
<!-- === end Modal window === -->