<!-- === Modal window, call userMessage( sMsg, sTitle, oOptions, fOnClose ) === -->
<div id="mdlWindow" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-hidden="true">
   <div id="mdlDialog" class="modal-dialog">
      <div class="modal-content">
         <div id="mdlHeader" class="modal-header labelBrown">
            <h1 id="mdlTitle" class="modal-title fs-5" style="color: #5a443d"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div id="mdlBody" class="modal-body"></div>
         <div id="mdlFooter" class="modal-footer">
            <div id="mdlTechnical" class="mdl-technical visually-hidden"></div>
            <button id="mdlBtnClose" type="button" class="btn" style="min-width: 6em;"
               data-bs-dismiss="modal">Fechar</button>
         </div>
      </div>
   </div>
</div>

<script>
   const mdlControl = {
      /** @private GetElement*/
      ge: (sId) => document.getElementById(sId),

      /** @private CustomizeElement */
      ce: (aEle, bAdd) => {
         aEle.forEach(e => {
            if (e.class == '') return;
            const ecc = mdlControl.ge(e.id).classList;
            const cl = e.class.split(' ');
            bAdd? ecc.add(...cl) : ecc.remove(...cl);
         });
      },

      /**
       * @param {string} sHtmlMessage Message.  Don't use <br> instead use <p></p>
       * @param {string} [sTitle = 'Caatinga']
       * @param {Object} [oOptions = {}] Options
       * @param {function} [fOnClose = null] callback after window close
       * @private
       */
      message: (sHtmlMessage, sTitle = 'Caatinga', oOptions = {}, fOnClose = null) => {
         const sStyle = oOptions.style ? oOptions.style : 'info';
         const sIcon = oOptions.icon ? oOptions.icon : sStyle;
         const sDlgCfg = oOptions.dlgCfg ? oOptions.dlgCfg : '';
         const sStyleHead = sStyle ? `alert-${sStyle} text-${sStyle}` : '';
         const sStyleBtn = sStyle ? `btn-outline-${sStyle}` : '';
         // Text
         mdlControl.ge('mdlTitle').innerText = sTitle;
         //TODO mdlControl.ge('mdlTechnical').innerText = oOptions.tech || '';
         mdlControl.ge('mdlBody').innerHTML = sHtmlMessage ? sHtmlMessage : 'Mensagem não disponível.';
         // Customize classes
         const aCostume = [{ id: 'mdlBtnClose', class: sStyleBtn }, { id: 'mdlHeader', class: sStyleHead }, { id: 'mdlDialog', class: sDlgCfg }];
         mdlControl.ce(aCostume, true);
         const eleMdl = mdlControl.ge('mdlWindow');
         const mdlWindow = new bootstrap.Modal(eleMdl, { backdrop: 'static' });
         eleMdl.addEventListener(
            'hidden.bs.modal',
            e => {
               mdlControl.ce(aCostume, false);
               if (fOnClose) { fOnClose(); }
            }
         );
         mdlWindow.show();
      },

      /**
       * Displays a modal info  window
       * @param {string} sHtmlMessage Mensagem.
       * @param {string} [sTitle] Título da janela
       * @public
       */
      messageInfo: (sHtmlMessage, sTitle) => {
         mdlControl.message(sHtmlMessage, sTitle, { style: 'info' });
      },

      /**
       * Displays a modal error window
       * @param {string} sHtmlMessage Mensagem. Don't use <br> instead use <p></p>
       * @param {string} [sTitle] Título da janela
       * @param {string} [sTechnical] '' Technical info (goes on footer, can be hidden using css)
       * @public
       */
      messageError: (sHtmlMessage, sTitle, sTechnical = '') => {
         mdlControl.message(sHtmlMessage, sTitle, { style: 'danger', tech: sTechnical });
      },

      /**
       * Displays a modal error window
       * @param {string} sHtmlHelp Help html text. Don't use <br> instead use <p></p>
       * @param {string} [sTitle] Título da janela
       * @public
       */
      displayHelp: (sHtmlHelp, sTitle) => {
         mdlControl.message(sHtmlHelp, sTitle, { style: 'success', icon: 'help', dlgCfg: 'modal-lg modal-dialog-scrollable' });
      },

   }
</script>
<!-- === end Modal window === -->