  <!-- version 0.4 2022.12.21 mgd -->


  <!-- ==== Wizard ==== -->
  <div style="margin-top: 2%">
    <!-- ==== Container ==== -->
    <div class="wzdContainer">

      <!-- Header -->
      <div class="wzdHeader">
        <table>
          <tr>
            <td class="wzdLogo"></td>
            <td>
              <h6 class="alert-heading">Descrição</h6>
              <div>Instruções</div>
            </td>
          </tr>
        </table>
      </div>
      <!-- Header end -->

      <!-- Body -->
      <div id="idWzdBody" class="wzdBody container">

        <!-- === User Area === -->
        <div class="text-center text-warning d-flex justify-content-center align-items-center" style="height: 30em; width: 100%;">
          <div class="spinner-border" style="height: 4rem; width: 4rem;"></div>
        </div>
        <!-- === User Area end === -->

      </div>
      <!-- Body end -->

      <!-- Footer -->
      <div class="wzdFooter">
        <div id= "idUsDisplay" class="wzdUsDisplay visually-hidden"></div>
        <button id="idBtnNext" class="wzdBtnNext btn btn-primary" type="button" onclick="_next();">Ok</button>
      </div>
      <!-- Footer end -->

    </div>
    <!-- ==== Container end ==== -->
  </div>
  <!-- ==== Wizard end ==== -->