  <!-- version 0.3 2022.12.20 mgd -->
  <div style="margin-top: 2%">
   <div class="wzdContainer">

     <!-- header -->
     <div class="wzdHeader">
       <table>
         <tr>
           <td class="wzdLogo"></td>
           <td>
             <h6 class="alert-heading">Distribuição de Plantio</h6>
             <div>Selecione a distribuição segundo o tipo de faixas</div>
           </td>
         </tr>
       </table>
     </div>
     <!-- end header -->

     <!-- body -->
     <div id="grdModelos" class="wzdBody">
       <div id="grdModelos" class="container">
         <div class="text-center text-warning" style="height: 30em; width: 100%">
           <span class="spinner-border" style="height: 20%;"></span>
           <h4>Aguarde...</h4>
         </div>
       </div>
     </div>
     <!-- end body -->

     <!-- Next button -->
     <div class="wzdFooter">
       <div id= "idUsDisplay" class="wzdUsDisplay visually-hidden"></div>
       <button id="idBtnNext" class="wzdBtnNext btn btn-primary" type="button" onclick="_next();">Ok</button>
     </div>
   </div>
 </div>
