{% extends "layouts/base.html.j2" %}

{% block title %} Blank Page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block base_blc_head_css %}{% endblock base_blc_head_css %}

{% block base_blc_content %}

    <main>

        <!-- Hero -->
        <section class="section-header">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Blank starter page</h1>
                        <p>Hello world!</p>
                    </div>
                </div>
            </div>
        </section>

    </main>

    {% include 'includes/footer.html' %}

{% endblock base_blc_content %}

<!-- Specific Page JS goes HERE  -->
{% block base_blc_body_js %}{% endblock base_blc_body_js %}
