{# ------------------------------------
./home/document.html.j2
-----------------------
Displays simple or HTML documents
The document should be divided into
two parts: css & body

Extends
/layouts/dialog.html.j2

mgd 2024.03
--------------------------------------- #}

{% set dlg_var_vCentered= True %}
{% set dlg_var_scroll= True %}
{% set dlg_cls_size= 'modal-lg' %}

{% extends "/layouts/dialog.html.j2" %}

{% block base_blc_head_css %}
{{ documentStyle | safe }}
{% endblock base_blc_head_css %}


{% block dlg_blc_body %}
{{ documentBody | safe }}
{% endblock dlg_blc_body %}

{% block dlg_blc_footer %}
<form action="{{ public_route('login') }}" method="GET">
    <button type="submit" class="btn btn-primary {{dlg_cls_btnOk}}" style="min-width: 8em;">
        {{(doc_var_ok_text | default("OK"))}}
    </button>
</form>
{% endblock dlg_blc_footer %}

{# eof #}