{# ------------------------------------
./home/document.html.j2
-----------------------
Displays simple or HTML documents
The document should be divided into
two parts: css & body

Extends
/layouts/dialog.html.j2

mgd 2024.03
--------------------------------------- #}

{% set dlg_var_v_centered= True %}
{% set dlg_var_scroll= True %}
{% set dlg_cls_size= 'modal-lg' %}

{% extends "/layouts/dialog.html.j2" %}

{% block base_blc_head_css %}
{{ documentStyle | safe }}
{% endblock base_blc_head_css %}


{% block dlg_blc_body %}
{{ documentBody | safe }}
{% endblock dlg_blc_body %}

{% block dlg_blc_footer %}
{% from "includes/_action_forms_and_btns.html.j2" import btn_close %}
{{ btn_close(action_form__form_close_id, btnCloseForm) }}
{% endblock dlg_blc_footer %}

{# eof #}