{# 
----------------------------------
./home/ups-page.html.j2
----------------------------------
This is a genric error/exception/ups 
display page

Extends:
./layouts/form.html.j2

mgd 2025-03-05
--------------------------------------- #}
{# cSpell:ignore urlname #}

{% set btnMsgOnly = True %}
{% extends "./layouts/form.html.j2" %}