{#
----------------------------------
./home/ups-page.html.j2
----------------------------------
This is a generic error/exception/ups
display page

Extends:
./layouts/form.html.j2

mgd 2025-03-05--15
--------------------------------------- #}

{% set dlg_var_close= False %}
{% set dlg_var_icon_url= iconFileUrl %}
{% set dlg_var_svg= iconSvgUrl %}
{# see canoa.css #}

{% extends "./layouts/dialog.html.j2" %}

{# == Dialog Body == #}
{% block dlg_blc_body %}

{% include "includes/backend-msg.html.j2" %}

{% block frm_blc_above %}
{% endblock frm_blc_above %}

{% block frm_blc_below %}
{% endblock frm_blc_below %}

{% endblock dlg_blc_body %}
{# ==^ Dialog Body ^== #}

{% block dlg_blc_footer %}

{% from "includes/_action_forms_and_btns.html.j2" import btn_close %}
{{ btn_close(action_form__form_close_id, form_close_btn_text ) }}

{% endblock dlg_blc_footer %}


{# eof #}