{#
----------------------------------
./home/ups-page.html.j2
----------------------------------
This is a generic error/exception/ups
display page

Ups Files
---------
/public/ups_handler.py
/static/icons/ups_handler.svg
/templates/home/ups_page.html.j2

Extends:
./layouts/form.html.j2

mgd 2025-03-05--15
--------------------------------------- #}

{% set dlg_var_v_centered= True %}
{% set dlg_close_btn_visible= False %}
{% set dlg_var_icon_url= iconFileUrl %}
{% set dlg_var_svg= iconSvgUrl %}
{% set form_close_btn_text= btnCloseForm %}
{# see canoa.css #}

{% extends "./layouts/dialog.html.j2" %}

{# ╒═════════ Dialog Body ═════════╕ #}
{% block dlg_blc_body %}

{% include "includes/backend-msg.html.j2" %}

{% endblock dlg_blc_body %}
{# ╘═════════ Dialog Body ═════════╛ #}


{# ╒════════ Dialog Footer ════════╕ #}
{% block dlg_blc_footer_buttons %}

<div class="col-auto">
{% from "includes/_action_forms_and_btns.html.j2" import btn_close_dlg %}
{{ btn_close_dlg(dlg_close_form_id, dlg_close_btn_id, form_close_btn_text) }}
</div>

{% endblock dlg_blc_footer_buttons %}
{# ╘════════ Dialog Footer ════════╛ #}


{# eof #}