{#
Template for Accounts Forms (mgd 2024.03)
vars:
- base-caatinga.tmpl.{pageTitle} Web Page Title
- {formTitle}
- eventualmente {msgError} {msgOk}

used by
   apps\templates\accounts\
      - changepassword.html
      - getuseremail.html
      - login.html
      - register.html

#}

{# files are relative to ./templates #}
{% extends "layouts/base-caatinga.tmpl" %}

{% block stylesheets %}
<link type="text/css" href= "{{ url_for('static', filename='css/accounts.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<main>
   <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark img-fluid">
      <div class="container">
         <div class="d-flex align-items-center justify-content-center">
            <div class="bg-white rounded border-gray-500 p-4 fmxw-500">

               <!-- { Image -->
               <div class="accountPageImage">
                  <img src="{{ url_for('static', filename='img/pages/accounts.png') }}" alt="Representação da Caatinga, em tons marrão">
                  <div class="accountPageTitle">{{ formTitle }}</div>
               </div>
               <!-- Image } -->

               <!-- { BackendMessage -->
               <div class="text-center text-md-center mt-md-0 mb-3">
                  <span class="font-weight-normal">
                     {% if msgError %}
                     <div class="alert alert-danger mt-3">
                        {{ msgError | safe }}
                     </div>
                     {% elif msgSuccess %}
                     <div class="alert alert-success mt-3">
                        {{ msgSuccess | safe }}
                     </div>
                     {% endif %}
                  </span>
               </div>
               <!-- BackendMessage } -->

               {% block formAbove %}
               {% endblock formAbove %}

               {% if not msgSuccess %}
                  <!-- { Form  -->
                  <form method="post" action="" class="mt-2">
                     {{ form.hidden_tag() }}

                     {% block formContent %}
                     {% endblock formContent %}

                     <!-- { Submit -->
                        <div class="d-grid mt-3">
                           <button type="submit" name="btnSubmit" id="btnSubmit" class="btn accountMainBtn">{{ submitButton }}</button>
                        </div>
                        <!-- Submit } -->
                     </form>
                     <!-- Form } -->
               {% endif %}
                  {% block formBelow %}
                  {% endblock formBelow %}
               </div>
         </div>
      </div>
   </section>
</main>
{% endblock content %}
{# eof #}