{# template for (modal or normal) dialogs modal or normal #}
{# files are relative to ./templates #}

{% extends "./layouts/base.tmpl" %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<section>
   <div class= "{{ (dlgClass | default('amodal')) }} tabindex='-1'" id="{{ (dlgID | default('dlgId')) }}" >
      <div class="modal-dialog dlg-dialog">
         <div class="modal-content dlg-content">
            <div class="modal-header dlg-header">
               <h5 class="modal-title dlg-header">{{ (pageTitle | default('Caatinga')) }}</h5>
               <button type="button" class="btn-close dlg-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body dlg-body">
               {% block dlgContent %}
               {% endblock dlgContent %}
            </div>
            <div class="modal-footer dlg-footer collapse">
               <button type="button" class="btn btn-primary dlg-btn-ok" data-bs-dismiss="modal" id="dlg-btn-ok">{{ (dlgBtnText | default("OK")) }}</button>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock content %}
{# eof #}