{# template for (modal or normal) dialogs #}

{% extends "./layouts/base.tmpl" %}

{% block stylesheets %}
<link type="text/css" href= "{{ url_for('static', filename='css/dialog.css') }}" rel="stylesheet">
{% block dlgStyleSheet}
{% endblock dlgStyleSheet}
{% endblock stylesheets %}


{% block content %}
<section>
   <div class= "modal{%+ if not (dlgCentered|default(False)) %} {{dlgTop}}{% endif %}" {%+ if dlgDisplay %}style='display: block;'{% endif %} tabindex="-1" id="dlg-id-main" >
      <div class="modal-dialog {{ dlgSize }} {%+ if dlgCentered %}modal-dialog-centered{% endif %} {%+ if dlgScroll %}modal-dialog-scrollable{% endif %} dlgDialog">
         <div class="modal-content dlgContent">
            <div class="modal-header dlgHeader">
               <h5 class="modal-title dlgTitle">{{ (pageTitle | default('Caatinga')) }}</h5>
               <button type="button" class="btn-close dlgBtnClose" data-bs-dismiss="modal" {%+ if not (dlgClose|default(True)) %}style='display: none;'{% endif %} aria-label="Close" id="dlg-id-close"></button>
            </div>
            <div class="modal-body dlgBody">
               {% block dlgContent %}
               {% endblock dlgContent %}
            </div>
            <div class="modal-footer dlgFooter {%+ if not (dlgFooter | default(True)) %}collapse{% endif %}">
               <button type="button" class="btn btn-primary dlg-btn-ok" data-bs-dismiss="modal" id="dlg-id-close">{{ (dlgBtnText | default("OK")) }}</button>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock content %}

{% block javascripts %}
{% block dlgJavascript %}
{% endblock dlgJavascript %}
<script>
   const btnClose = document.getElementById("dlg-id-close");
   if (btnClose){
      btnClose.addEventListener("click", ()=>{ window.location.href = "{{ url_for('home_blueprint.index') }}"});
   }
   </script>
{% endblock javascripts %}

{# eof #}