{# template for HTML forms #}
{#  Size: sm, <>, lg, xl #}


{% set dlgDisplay= True %}
{% set dlgCentered= False %}
{% set dlgSize= 'modal-sm' %}
{% set dlgTop= 'mt-6' %}
{% set dlgFooter= False %}


{% extends "./layouts/dialog.tmpl" %}

{% block dlgStyleSheet %}
<link type="text/css" href= "{{ url_for('static', filename='css/form.css') }}" rel="stylesheet">
{% endblock dlgStyleSheet %}


{% block dlgContent %}
   <!-- { BackendMessage -->
   <div class="text-center text-md-center mt-md-0 mb-3">
      <span class="font-weight-normal">
         {% if msgError %}
         <div class="alert alert-danger mt-3">
            {{ msgError | safe }}
         </div>
         {% elif msgSuccess %}
         <div class="alert alert-success mt-3">
            {{ msgSuccess | safe }}
         </div>
         {% endif %}
      </span>
   </div>
   <!-- BackendMessage } -->

   {% block formAbove %}
   {% endblock formAbove %}

   {% if not msgSuccess %}
      <!-- { Form  -->
      <form method="post" action="" class="mt-2">
         {{ form.hidden_tag() }}

         {% block formContent %}
         {% endblock formContent %}

         <!-- { Submit -->
         <div class="d-grid mt-3">
            <button class="form-control formMainBtn" id="formMainBtn-id" type="submit">{{ submitButton }}</button>
         </div>
         <!-- Submit } -->
      </form>
      <!-- Form } -->
   {% endif %}

   {% block formBelow %}
   {% endblock formBelow %}

{% endblock dlgContent %}
{# eof #}