{#
   apps\templates\layouts\form.html
   ---------------------------------

   Displays HTM Forms
   Used by:
      apps\templates\accounts\
         - login.html.j2
         - passwordrecovery.html.j2
         - register.html.j2
         - rst_chg_password.html.j2
         - uploadfile.html.js
   mgd
#}

{% set dlg_var_vCentered= False %}
{% set dlg_clas_header= 'formHeader' %}
{% set dlg_cls_title= 'formTitle' %}
{% set dlg_cls_size= '' %}   {#  Size: sm, <>, lg, xl #}
{% set dlg_cls_top= 'mt-6' %}
{% set dlg_cls_footer= 'collapse' %}

{% extends "./layouts/dialog.html.j2" %}

{% block dlgBlcBody %}
    {% if msgError or msgSuccess %}
        <!-- { BackendMessage -->
        <div class="text-center text-md-center mt-md-0 mb-3">
        <span class="font-weight-normal">
            {% if msgError %}
                <div class="alert alert-danger mt-3">
                    {{ msgError | safe }}
                </div>
            {% elif msgSuccess %}
                <div class="alert alert-success mt-3" inert>
                    {{ msgSuccess | safe }}
                </div>
            {% endif %}
        </span>
        </div>
        <!-- BackendMessage } -->
   {% endif %}

   {% block formAbove %}
   {% endblock formAbove %}

   {#  display the form when always except when sucess (when normal displat or with an error)   #}
   {% if not msgSuccess %}
      <!-- { Form  -->
      <form method="post" action="" class="mt-2" {{ formAttribute|default('') }}>
         {{ form.hidden_tag() }}

         {% block formContent %}
         {% endblock formContent %}

         <!-- { Submit -->
         <div class="d-grid mt-3">
            <button class="form-control formMainBtn" id="id-formMainBtn" type="submit">{{ submitButton }}</button>
         </div>
         <!-- Submit } -->
      </form>
      <!-- Form } -->
   {% endif %}

   {% block formBelow %}
   {% endblock formBelow %}

{% endblock dlgBlcBody %}
{# eof #}