{#
   apps\templates\layouts\form.html
   ---------------------------------

   Displays HTM Forms
   Used by:
      apps\templates\accounts\
         - login.html.j2
         - passwordrecovery.html.j2
         - register.html.j2
         - rst_chg_password.html.j2

   mgd
#}


{% set dlgCentered= False %}
{% set dlgHeader= 'formHeader' %}
{% set dlgTitle= 'formTitle' %}
{% set dlgSize= '' %}   {#  Size: sm, <>, lg, xl #}
{% set dlgTop= 'mt-6' %}
{% set dlgFooter= 'collapse' %}

{% extends "./layouts/dialog.html.j2" %}

{% block dlgContent %}
   <!-- { BackendMessage -->
   <div class="text-center text-md-center mt-md-0 mb-3">
      <span class="font-weight-normal">
         {% if msgError %}
         <div class="alert alert-danger mt-3">
            {{ msgError | safe }}
         </div>
         {% elif msgSuccess %}
         <div class="alert alert-success mt-3">
            {{ msgSuccess | safe }}
         </div>
         {% endif %}
      </span>
   </div>
   <!-- BackendMessage } -->

   {% block formAbove %}
   {% endblock formAbove %}

   {% if not msgSuccess %}
      <!-- { Form  -->
      <form method="post" action="" class="mt-2">
         {{ form.hidden_tag() }}

         {% block formContent %}
         {% endblock formContent %}

         <!-- { Submit -->
         <div class="d-grid mt-3">
            <button class="form-control formMainBtn" id="formMainBtn-id" type="submit">{{ submitButton }}</button>
         </div>
         <!-- Submit } -->
      </form>
      <!-- Form } -->
   {% endif %}

   {% block formBelow %}
   {% endblock formBelow %}

{% endblock dlgContent %}
{# eof #}