{# files are relative to ./templates #}
{% extends "layouts/base-refloresta.tmpl" %}

{% block wizardPageTitle %}{{ pageTitle|safe }}{% endblock %}


{% block content %}
   {% include 'includes/navigation.html' %}

   {# Wizard Template
      version 0.7
      2022.12.22--24
      Miguel Gastelumendi -- mgd
      https://jinja.palletsprojects.com/en/3.1.x/templates/
    #}

   {# The `block wizardBody` is inside #}
   <!-- ==== Wizard ==== -->
   <div class="wzd-backdrop">

      <!-- ==== Container ==== -->
      <div class="wzd-container container">

         <!-- Header -->
         <div class="wzd-header">
            
               <!-- <td class="wzd-logo"></td> -->
               <div>
                  <span id="wzdDescription" class="alert-heading">
                  {% block wizardDescription %} {{ wzdDescription|safe }} {% endblock %}
                  </span>
                  <!-- 
                     <div id="wzdInstructions">
                        {% block wizardInstructions %} {{ wzdInstructions }} {% endblock %}
                     </div>
                  -->
               </div>
               <div>
                  <button id="wzdBtnHelp" class="wzd-btnHelp btn btn-outline-success" type="button" disabled= "true" onclick="wzdControl.displayHelp()">Ajuda</button>
                  <button onclick="wzdControl.goBack()" class="btn btn-outline-primary">Voltar </button>
                  <button id="wzdBtnOk" class="wzd-btnNext btn btn-outline-primary" type="button" disabled= "true" onclick="wzdControl.gotoNextPage()"><span class="wzd-btnNextText"></span></button>
               </div>
         
         </div>
         <!-- Header end -->

         <!-- Body -->
         <div id="wzdBody" class="wzd-body">

         <!-- === User Area === -->
         {% block wizardBody %}

         {% endblock wizardBody %}
         <!-- === User Area end === -->

         </div>
         <!-- Body end -->

         <!-- Footer -->
         <div class="wzd-footer">
            <div id= "wzdSelectedItem" class="wzd-selectedItem visually-hidden"></div>
         </div>
         <!-- Footer end -->

      </div>
      <!-- ==== Container end ==== -->
   </div>
   <!-- ==== Wizard end ==== -->
{% endblock content %}

{% block htmlHelpers %}
   {% include 'includes/modal.html' %}
{% endblock htmlHelpers %}

{% block javascripts %}
   <script src="/static/assets/js/wizard.js"></script>
{% endblock javascripts %}

