/* ============================================
 *  carranca\static\css\canoa.css
 *
 *  2024-02-12
 *  Miguel Gastelumendi -- mgd
 * ============================================ */

/* cSpell:ignore unselectable callout Konqueror tmpl */

:root {
    --project-name: 'Canoa';

    /* https://www.colorhexa.com/704214 */
    /* complementary */
    --buttonBackColor: #144270;
    --buttonTextColor: white;
    /*
    --buttonBackColor: #647663;
     --titleBackColor: #c4884c;
    --labelTextColor: #c4884c;
    --linkTextColor: #60370e;
    */
    --titleBackColor: #b36920;
    --titleTextColor: white;
    --labelTextColor: #814c17;
    --linkTextColor: #a25f1d;
    --bodyBackColor: #fbf3ea;
    --footerBackColor: #f8e9d9;
    --controlBackColor: #fefcfa;
}

body {
    /* background: url(/static/img/pages/canoa_fundo.jpeg) no-repeat fixed; */
    background: url(/static/img/pages/canoa_fundo-w.jpeg) no-repeat fixed;
    background-size: cover;
}

.unselectable-text {
    -webkit-touch-callout: none;
    /* iOS */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

/* ============================================
 *  menu.html.j2
 * ============================================ */
.nav-button {
    /* Base styles for all navigation buttons */
    display: inline-block;
    white-space: nowrap;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: inherit;
    /* Inherit background color from parent element */
    /* Add this to remove default button borders */
    border: none;
}

.nav-button-enabled {
    color: var(--buttonBackColor);
}

.nav-button-disabled {
    /* color: #999; */
    color: var(--labelTextColor);
    pointer-events: none;
}

/* ============================================
 *  carranca\templates\layouts\dialog.tmpl
 * ============================================ */
.dlg-header {
    background-color: var(--titleBackColor);
}

.dlg-title {
    color: var(--titleTextColor);
    font-size: 1.5rem;
}

.dlg-body {
    background-color: var(--bodyBackColor);

}

.dlg-footer {
    background-color: var(--footerBackColor);

}

/* ============================================
 *  carranca\templates\layouts\grid.html.j2
 * ============================================ */
.grd-item-exist {
    background: coral;
}

/* if changed, see SepIconConfig.error_content() */
.grd-item-remove {
    color: firebrick;
}

/* if changed, see SepIconConfig.empty_content() */
.grd-item-none {
    color: darkgrey;
}

.grd-item-added {
    color: limegreen;
}

.grd-col-sep_new {
    background-color: azure;
}

/* ============================================
 *  carranca\templates\layouts\form.html
 * ============================================ */
.form-label {
    color: var(--labelTextColor);
    padding: 0 .4em;
}

.form-text {
    color: var(--labelTextColor);
}

.form-line {
    margin-bottom: 0px;
}

.form-link {
    color: var(--linkTextColor);
    font-weight: 400;
}

.form-link:hover {
    text-decoration: underline;
}

.form-control {
    background-color: var(--controlBackColor);
}

.form-check-btn {
    accent-color: var(--buttonBackColor);
}

.form-main-btn {
    background-color: var(--buttonBackColor);
    border: none;
    color: var(--buttonTextColor);
    font-size: 1.1rem;
    min-width: 8em;

}

.form-main-btn:hover {
    background-color: var(--buttonBackColor);
    filter: brightness(120%);
}

.form-main-btn:disabled {
    background-color: var(--buttonBackColor);
    filter: brightness(60%);
}

/* ============================================
 *          responsive design
 * ============================================ */

@media screen and (max-width: 992px) {
    .divInputProjectName {
        width: 60%;
    }

    .divRememberLogin {
        font-size: 13px;
    }
}

::-webkit-input-placeholder {
    font-style: italic;
}

/*~*/