/* ============================================
 *  carranca\static\css\canoa.css
 *
 *  2024-02-12
 *  Miguel Gastelumendi -- mgd
 * ============================================ */

/* cSpell:ignore unselectable callout Konqueror tmpl */

:root {
    --project-name: 'Canoa';

    /* https://www.colorhexa.com/704214 */
    /* complementary */
    --canoa-dlg-header-bg: #b36920;
    --canoa-dlg-header-color: white;
    --canoa-form-text-color: #814c17;
    --canoa-form-label-color: #814c17;
    --canoa-form-link-color: #a25f1d;
    --canoa-form-body-bg: #fbf3ea;
    --canoa-form-footer-bg: #f8e9d9;
    --canoa-form-button-bg: #144270;
    --canoa-form-button-color: white;
}

body {
    /* background: url(/static/img/pages/canoa_fundo.jpeg) no-repeat fixed; */
    background: url(/static/img/pages/canoa_fundo-w.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.unselectable-text {
    -webkit-touch-callout: none;
    /* iOS */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

/* ============================================
 *  navigator.html.j2
 * ============================================ */
#navbar-main {
    background-color: #ffffff7a;
}


/* ============================================
 *  carranca\templates\layouts\dialog.tmpl
 * ============================================ */
.dlg-header {
    background-color: var(--canoa-dlg-header-bg);
}

.dlg-title {
    color: var(--canoa-dlg-header-color);
}

.dlg-body {
    background-color: var(--canoa-form-body-bg);
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
}

.dlg-footer {
    background-color: var(--canoa-form-footer-bg);
}


/* dialog ids */
#dlg-var-svg-id {
    fill: var(--canoa-form-button-bg, red);
}



/* ============================================
 *  carranca\templates\layouts\grid.html.j2
 * ============================================ */
.grd-item-exist {
    background: coral;
}

/* if changed, see SepIconConfig.error_content() */
.grd-item-remove {
    color: firebrick;
}

/* if changed, see SepIconConfig.empty_content() */
.grd-item-none {
    color: darkgrey;
}

.grd-item-added {
    color: limegreen;
}

.grd-col-sep_new {
    background-color: azure;
}

/* ============================================
 *  carranca\templates\layouts\form.html
 * ============================================ */
.form-width {
    /* https://getbootstrap.com/docs/4.2/components/modal/#optional-sizes */
    /* this line gives error: "--bs-modal-lg is not set". So as --bs-modal-lg: 900px;
    max-width: calc(var(--bs-modal-width) + (var(--bs-modal-lg) - var(--bs-modal-width)) / 2); */
    max-width: calc(var(--bs-modal-width) + (900px - var(--bs-modal-width)) / 2);
}

.form-label {
    color: var(--canoa-form-label-color);
    font-weight: 500;
}

.form-text {
    color: var(--canoa-form-text-color);
}

.form-line {
    margin-bottom: 0px;
}

.form-link {
    color: var(--canoa-form-link-color);
    font-weight: 400;
    text-decoration: none;
}

.form-link:hover {
    text-decoration: underline;
}

.form-check-btn {
    accent-color: var(--canoa-form-button-bg);
}

.form-main-btn {
    background-color: var(--canoa-form-button-bg);
    border: none;
    color: var(--canoa-form-button-color);
    font-size: 1.1rem;
    min-width: 8em;
}

.form-main-btn:hover {
    background-color: var(--canoa-form-button-bg);
    filter: brightness(130%);
}

.form-main-btn:disabled {
    background-color: var(--canoa-form-button-bg);
    filter: brightness(60%);
}

/* ============================================
 *          responsive design
 * ============================================ */

/* @media screen and (max-width: 992px) {
    .dlg-title {
        font-size: 80%;
    }
} */

::-webkit-input-placeholder {
    font-style: italic;
}

/*~*/