/* ============================================
 *  carranca\static\css\scm_export.css
 *
 *  2025-09-02
 *  Miguel Gastelumendi -- mgd
 * ============================================ */
/* cSpell:ignore adaptabrasil */

:root {
   --item-per-row: 3;
   --item-size: 3rem;
   --item-border: 4px;
   --item-frame: calc(var(--item-size) + 2 * var(--item-border));
   --items-inter-space: 0px;
   --items-extent: calc(var(--item-per-row) * var(--item-frame) + (var(--item-per-row) - 1) * var(--items-inter-space));
}

.reticule-frame {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: var(--adaptabrasil-back-color);
   max-width: var(--items-extent);
   min-width: var(--items-extent);
   margin: 0 auto;
   gap: var(--item-border);
   border: 1px solid var(--canoa-form-label-color);
   border-radius: var(--bs-border-radius);
}

.reticule-header {
   /* This ensures the header spans the full width of the container. */
   flex-basis: 100%;
   display: flex;
   align-items: center;
   /* Vertically centers the icon and title */
   gap: 8px;
   /* Adds space between the icon and title */
   padding-left: 0.5rem;
   background-color: var(--canoa-form-footer-bg);
   border-bottom: 1px solid var(--canoa-form-label-color);
   border-top-left-radius: var(--bs-border-radius);
   border-top-right-radius: var(--bs-border-radius);
}

.reticule-header-color {
   cursor: help;
   width: 1.1rem;
   height: 1.1rem;
   border: 1px solid #000;
   border-radius: 3px;
}

.reticule-header-title {
   color: var(--canoa-form-label-color);
   font-size: smaller;
   user-select: none;
   white-space: nowrap;
}

.reticule-item {
   /* cursor: grab; */
   border: var(--item-border) solid var(--adaptabrasil-back-color);
   width: var(--item-size);
   height: var(--item-size);
   overflow: hidden;
   margin: 0 auto;
   user-select: none;
   /* old browsers */
   -webkit-user-select: none;
   /* Safari */
   -moz-user-select: none;
   /* Firefox */
   -ms-user-select: none;
   /* IE/Edge */
}

.reticule-item-hot {
   cursor: grab;
}

.reticule-item-none {
   border: var(--item-border) solid grey;
}

.reticule-item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   pointer-events: none;
}

.reticule-item.over {
   border: 2px dashed var(--bs-alert);
   opacity: 0.7;
}

/* eof */