/* ============================================
 *  carranca\static\css\scm_export.css
 *
 *  2025-09-02
 *  Miguel Gastelumendi -- mgd
 * ============================================ */
/* cSpell:ignore adaptabrasil */

:root {
   --item-per-row: 3;
   --item-size: 4rem;
   --item-border: 6px;
   --item-frame: calc(var(--item-size) + 2 * var(--item-border));
   --items-inter-space: 0px;
   --items-extent: calc(var(--item-per-row) * var(--item-frame) + (var(--item-per-row) - 1) * var(--items-inter-space));
}

.reticule-grid {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: var(--items-extent);
   min-width: var(--items-extent);
   /* not needed: */
   /* max-height: var(--items-extent); */
   /* min-height: var(--items-extent); */
   margin: 0 auto;
   background-color: var(--adaptabrasil-back-color);
   padding: var(--item-border) 0;
   border: 1px solid var(--canoa-form-label-color);
}

.reticule-item {
   cursor: grab;
   border: var(--item-border) solid var(--adaptabrasil-back-color);
   width: var(--item-size);
   height: var(--item-size);
   overflow: hidden;
   margin: 0 auto;
}

.reticule-item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   pointer-events: none;
}

.reticule-item.over {
   border: 2px dashed var(--bs-alert);
   opacity: 0.7;
}

/* eof */