{# ------------------------------------

./accounts/login.html.j2
------------------------
`login` page the _landing page_ for visitors
`home` page is for users

Extends:
./layouts/form.html.j2

mgd
--------------------------------------- #}

{% set dlg_var_close= False %}
{% set dlg_cls_size= '' %} {# default size #}
{% extends "./layouts/form.html.j2" %}

{% block frm_blc_content %}

<!-- { User Name -->
<div class="form-group">
    <label class="form-label" inert for="user_name">{{ userLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fa fa-user"></i>
        </span>
        {{ form.username(class="form-control", id="user_name") }}
    </div>
</div>
<!-- User Name } -->

<!--{ Password  -->
<div class="form-group mt-3">
    <label class="form-label" inert for="pwd_login">{{ passwordLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-unlock-alt"></i>
        </span>
        {{ form.password( id="pwd_login") }}
    </div>
</div>
<!-- Password }-->

<!-- { RememberMe & ForgotPw -->
<div class="form-group mt-2">
    <!-- { RememberMe -->
    <div class="">
        {{ form.remember_me(class="form-check-btn", id="rememberMe") }}
        <label class="form-check-label form-label" class="form-check-label mb-0" for="rememberMe">
            {{ rememberMe}}
        </label>
    </div>
    <!-- RememberMe } -->
</div>
<!-- RememberMe & ForgotPw } -->

{% endblock frm_blc_content %}

{% block frm_blc_below %}
<div class="row no-gutters mt-2">
    <div class="col-6">
        <a href="{{ public_route('docs', publicDocName='privacyPolicy') }}" class="form-link">
            {{ privacyPolicy}}
        </a>
    </div>
    <div class="col-6 text-end">
        <a href="{{ public_route('password_recovery') }}" class="form-link">
            {{ forgotPassword }}
        </a>
    </div>
    <div class="col-6">
        <a href="{{ public_route('docs', publicDocName='termsOfUse') }}" class="form-link">{{ termsOfUse }}</a>
    </div>
    <div class="col-6 text-end">
        <a href="{{ public_route('register') }}" class="form-link">{{ gotoRegister }}</a>
    </div>
</div>
{% endblock frm_blc_below %}
{# eof #}