{# ------------------------------------

./accounts/login.html.j2
------------------------
`login` page the _landing page_ for visitors
`home` page is for users

mgd
--------------------------------------- #}
{# cspell:ignore unselectable #}

{% set dlg_var_close= False %}
{% set dlg_cls_size= '' %} {# default size #}
{% extends "./layouts/form.html.j2" %}

{# ╒════════════════ Inputs ════════════════╕ #}
{% block frm_blc_inputs %}

<!-- { User Name -->
<div class="form-group">
    <label class="form-label" inert for="{{form.username.name}}">{{ userLabel }}</label>
    <div class="input-group">
        <span class="input-group-text"> <i class="fas fa-user"></i></span>
        {{ form.username() }}
    </div>
</div>
<!-- User Name } -->

<!--{ Password  -->
<div class="form-group mt-3">
    <label class="form-label" inert for="{{form.password.name}}">{{ passwordLabel }}</label>
    <div class="input-group">
        <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
        {{ form.password() }}
    </div>
</div>
<!-- Password }-->

<!-- { RememberMe -->
<div class="mt-2">
    {{ form.remember_me() }}
    <label class="unselectable-text form-check-label ms-0" for="{{form.remember_me.name}}">
        {{ rememberMe }}
    </label>
</div>
<!-- RememberMe } -->

{% endblock frm_blc_inputs %}
{# ╘════════════════ Inputs ════════════════╛ #}


{# ╒════════════════ Below ════════════════╕ #}
{% block frm_blc_below %}

<div class="row no-gutters mt-2">
    <div class="col-6">
        <a href="{{ public_route('docs', publicDocName='privacyPolicy') }}" class="form-link">
            {{ privacyPolicy}}
        </a>
    </div>
    <div class="col-6 text-end">
        <a href="{{ public_route('password_recovery') }}" class="form-link">
            {{ forgotPassword }}
        </a>
    </div>
    <div class="col-6">
        <a href="{{ public_route('docs', publicDocName='termsOfUse') }}" class="form-link">{{ termsOfUse }}</a>
    </div>
    <div class="col-6 text-end">
        <a href="{{ public_route('register') }}" class="form-link">{{ gotoRegister }}</a>
    </div>
</div>

{% endblock frm_blc_below %}
{# ╘════════════════ Below ════════════════╛ #}

{# eof #}