{# rst_chg_password.html.j2 (mgd) #}

{% extends "./layouts/form.html.j2" %}

{% block frm_blc_above %}
    {% if msgSuccess %}
        <div class="d-grid">
            <form action="{{ public_route('login') }}" method="get">
                <button type="submit" class="form-control formMainBtn">{{ rst_chgPwSuccessBtn }}</button>
            </form>
        </div>
    {% endif %}
{% endblock frm_blc_above %}


{% block frm_blc_content %}
    {% if not msgSuccess %} {# `show msg error and` +  `display this block` if (msgError or not msgSuccess) else #}
        <!-- { New Password -->
        <div class="form-group">
            <label class="formLabel" inert for="pwdCreate">{{ newPasswordLabel }}</label>
            <div class="input-group">
                <span class="input-group-text">
                    <span class="fas fa-unlock-alt"></span>
                </span>
                {{ form.password(class="form-control", id="pwdCreate") }}
            </div>
        </div>
        <!-- New Password } -->

        <!-- { Confirm Password -->
        <div class="form-group mt-3">
            <label class="formLabel" inert for="pwdConfirm">{{ confirmNewPasswordLabel }}</label>
            <div class="input-group">
                <span class="input-group-text">
                    <span class="fas fa-unlock-alt"></span>
                </span>
                {{ form.confirm_password(class="form-control", id="pwdConfirm") }}
        </div>
        </div>
        <!-- Confirm Password } -->
    {% endif %}
{% endblock frm_blc_content %}
{# eof #}