{# ------------------------------------

password_reset_or_change.html.j2
--------------------------------
Form can Reset or Change the logged
user's password

Extends:
./layouts/form.html.j2

mgd
--------------------------------------- #}


{% set btnCloseForm = rst_chgPwSuccessBtn %}
{% extends "./layouts/form.html.j2" %}


{% block frm_blc_content %}
{% if not msgOnly %}

<!-- { New Password -->
<div class="form-group">
    <label class="form-label" inert for={{form.password.for}}>{{ newPasswordLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-unlock-alt"></i>
        </span>
        {{ form.password() }}
    </div>
</div>
<!-- New Password } -->

<!-- { Confirm Password -->
<div class="form-group mt-3">
    <label class="form-label" inert for={{form.confirm_password().id}}>{{ confirmNewPasswordLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-unlock"></i>
        </span>
        {{ form.confirm_password() }}
    </div>
</div>
<!-- Confirm Password } -->

{% endif %}
{% endblock frm_blc_content %}
{# eof #}