{# passwordrecovery.html.j2 (mgd) #}

{% extends "./layouts/form.html.j2" %}

{% block frm_blc_above %}
    {% if success %}
        <div class="d-grid">
        <button type="button" class="btn formMainBtn"
            onclick="window.location.href='{{ register_route() }}'">{{ successButton }}</button>
        </div>
    {% endif %}
{% endblock frm_blc_above %}

{% block frm_blc_content %}
    {% if not success %}
        <div class="form-group mb-3">
        <label class="formLabel" inert for="user_email">{{ emailLabel }}</label>
        <div class="input-group">
            <span class="input-group-text">
                <span class="fas fa-envelope"></span>
            </span>
            {{ form.user_email(class="form-control", id="user_email") }}
        </div>
        </div>
    {% endif %}
{% endblock frm_blc_content %}


{% block frm_blc_below %}
    {% if not success %}
        <div class="row no-gutters mt-3">
            <div class="col-6">
                <a href="{{ login_route() }}" class="formLink">{{ rememberedPassword }}</a>
            </div>
            <div class="col-6 text-right">
                <a href="{{ register_route() }}" class="formLink">{{ gotoRegister }}</a>
            </div>
        </div>
    {% endif %}
{% endblock frm_blc_below %}

{# eof #}