{# ------------------------------------

./accounts/password_recovery.html.j2
------------------------------------
Password Recovery Form

Extends:
./layouts/form.html.j2

mgd
--------------------------------------- #}
{% set btnCloseForm = successButton %}
{% extends "./layouts/form.html.j2" %}

{% block frm_blc_content %}
{% if not msgOnly %}
<div class="form-group mb-3">
    <label class="form-label" inert for="user_email">{{ emailLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <span class="fas fa-envelope"></span>
        </span>
        {{ form.user_email(class="form-control", id="user_email") }}
    </div>
</div>
{% endif %}
{% endblock frm_blc_content %}s


{% block frm_blc_below %}
{% if not msgOnly %}
<div class="row no-gutters mt-3">
    <div class="col-6">
        <a href="{{ public_route('login') }}" class="form-link">{{ rememberedPassword }}</a>
    </div>
    <div class="col-6 text-end">
        <a href="{{ public_route('register') }}" class="form-link">{{ gotoRegister }}</a>
    </div>
</div>
{% endif %}
{% endblock frm_blc_below %}

{# eof #}