{# ------------------------------------

./accounts/register.html.j2
---------------------------

User Register Form

Extends:
./layouts/form.html.j2

mgd
--------------------------------------- #}

{% set btnCloseForm= gotoLogin %}
{% set dlg_cls_size= '' %}
{% extends "./layouts/form.html.j2" %}

{% block frm_blc_content %}
{% if form_display_ui %}
<!-- { User Name -->
<div class="form-group">
    <label class="form-label" inert for="{{form.username.name}}">{{ userLabel }}</label>
    <div class="input-group">
        <span class="input-group-text"> <i class="fas fa-user"></i></span>
        {{ form.username() }}
    </div>
</div>
<!-- User Name } -->

<!-- Email  -->
<div class="form-group mt-3">
    <label class="form-label" inert for="user_email">{{ emailLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-envelope"></i>
        </span>
        {{ form.email(class="form-control", type="email", id="user_email") }}
    </div>
</div>
<!-- Email } -->

<!-- { Password  -->
<div class="form-group mt-3">
    <label class="form-label" inert for="password">{{ passwordLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-unlock-alt"></i>
        </span>
        {{ form.password(class="form-control", type="password", id="password") }}
    </div>
</div>
<!-- Password } -->

<div class="row mt-3">
    <div class="col-1" style="width: 1px">
        <input class="form-check-btn" type="checkbox" id="id-termsAccepted" required>
    </div>
    <div class="col-8">
        <label class="form-text form-line form-check-label" for="id-termsAccepted"> {{ termsLabel}}&nbsp;</label>
        <br>
        <a class="form-link" href="docs/termsOfUse">{{ termsOfUse }}</a>
        &nbsp;e&nbsp;
        <a href="docs/privacyPolicy" class="form-link">{{ privacyPolicy }}</a>
    </div>

    <div class="col-3 text-right">
        <a class="form-link" href="{{ public_route('login') }}">{{ gotoLogin }}</a>
    </div>
</div>

{% endif %}
{% endblock frm_blc_content %}

{# eof #}