{% extends "./layouts/accounts.tmpl" %}

{% block formContent %}
   <!-- { New Password -->
   <div class="form-group">
      <label class="accountLabel" for="pwdCreate">{{ newPasswordLabel }}</label>
      <div class="input-group">
         <span class="input-group-text">
            <span class="fas fa-unlock-alt"></span>
         </span>
         {{ form.password(class="form-control", id="pwdCreate") }}
      </div>
   </div>
   <!-- New Password } -->

   <!-- { Repeat Password -->
   <div class="form-group mt-3">
      <label class="accountLabel" for="pwdConfirm">{{ confirmNewPasswordLabel }}</label>
      <div class="input-group">
         <span class="input-group-text">
            <span class="fas fa-unlock-alt"></span>
         </span>
         {{ form.confirm_password(class="form-control", id="pwdConfirm") }}
      </div>
   </div>
   <!-- Repeat Password } -->

{% endblock formContent %}
{# eof #}