{% extends "./layouts/accounts.tmpl" %}

{% block formContent %}
   <!-- { New Password -->
   <div class="form-group">
      <label class="normalLabel accountLabel" for="pwd_create">{{ newPasswordLabel }}</label>
      <div class="input-group">
         <span class="input-group-text" id="basic-addon2">
            <span class="fas fa-unlock-alt"></span>
         </span>
         {{ form.password(class="form-control", type="password", id="pwd_create") }}
      </div>
   </div>
   <!-- New Password } -->

   <!-- { Repeat Password -->
   <div class="form-group mt-4">
      <label class="normalLabel accountLabel" for="pwd_confirm">{{ confirmNewPasswordLabel }}</label>
      <div class="input-group">
         <span class="input-group-text" id="basic-addon2">
            <span class="fas fa-unlock-alt"></span>
         </span>
         {{ form.confirm_password(class="form-control", type="password", id="pwd_confirm") }}
      </div>
   </div>
   <!-- Repeat Password } -->
{% endblock formContent %}
{# eof #}