{% extends "./layouts/accounts.tmpl" %}

{% block formContent %}

   <!-- { Get email -->
   <div class="form-group mb-3">
      <label class="accountLabel" for="user_email">{{ emailLabel }}</label>
      <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
               <span class="fas fa-envelope"></span>
            </span>
            {{ form.user_email(class="form-control", id="user_email") }}
      </div>
   </div>
   <!-- Get email } -->

{% endblock formContent %}
{# eof #}
