{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/preloader.html' %}

        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark img-fluid">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 w-100 fmxw-500">
                            <div class="text-center text-md-center mt-md-0">
                                <!-- mgd 2022.12.20
                                <h1 class="mb-0 h3">
                                    Login
                                </h1>
                                <section>

                                </section>
                                -->
                                <div class="alert alert-primary" role="alert">
                                    <h3 class="alert-heading">Login</h3>
                                </div>
                                <img src="../../static/assets/img/logo-login.png">
                                <!-- 2022.12.12 voltar com msg que foi 'perdida' nas melhorias -->
                                <span class="font-weight-normal">
                                    {% if msg %}
                                        <br />
                                        <div class="alert alert-danger">
                                        {{ msg | safe }}
                                        </div>
                                    {% else %}
                                        <!-- Add your credentials -->
                                    {% endif %}
                                </span>
                            </div>
                            <form method="post" action="" class="mt-2">

                                {{ form.hidden_tag() }}

                                <!-- Form Input User Name -->
                                <div class="form-group mb-4">
                                    <label for="username_login">Usuário</label>  <!-- mgd fix for with input id -->
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><span class="fas fa-user"></span></span>
                                        {{ form.username(class="form-control", id="username_login") }}
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form Input Password -->
                                    <div class="form-group mb-4">
                                        <label for="pwd_login">Senha</label>    <!-- mgd fix for with input id -->
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
                                            {{ form.password(class="form-control", type="password", id="pwd_login") }}
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="form-check mb-0">
                                            <input class="form-check-input" type="checkbox" value="" id="remember">
                                            <label class="form-check-label mb-0" for="remember">
                                              Lembrar meus dados
                                            </label>
                                        </div>
                                        <div><a href="{{ url_for('authentication_blueprint.register') }}" class="text-right">Registrar</a></div>
                                    </div>
                                </div>

                                <!-- <input class="" type="text" value="" id="latlon" pattern="/-(19|2[0-5])(\.[0-9]{1,6})/" onblur=""> -->

                                <div class="d-grid">
                                    <button type="submit" name="login" class="btn btn-primary">Entrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
