{# login.html.j2 (mgd) #}

{% set dlg_var_close= False %}

{% extends "./layouts/form.html.j2" %}

{% block formContent %}

<!-- { User Name -->
<div class="form-group">
   <label class="formLabel" for="user_name">{{ userLabel }}</label>
   <div class="input-group">
      <!-- Font Awesome fas fa- ...-->
      <span class="input-group-text">
         <span class="fas fa-user"></span>
      </span>
      {{ form.username(class="form-control", id="user_name") }}
   </div>
</div>
<!-- User Name } -->

<!--{ Password  -->
<div class="form-group mt-3">
   <label class="formLabel" for="pwd_login">{{ passwordLabel }}</label>
   <div class="input-group">
      <span class="input-group-text">
         <span class="fas fa-unlock-alt"></span>
      </span>
      {{ form.password(class="form-control", id="pwd_login") }}
   </div>
</div>
<!-- Password }-->

<!-- { RememberMe & ForgotPw -->
<div class="form-group mt-3">
   <!-- { RememberMe -->
   <div class="">
      {{ form.remember_me(class="formCheckBtn", id="rememberMe") }}
      <label class="form-check-label formLabel" class="form-check-label mb-0" for="rememberMe">{{ rememberMe }}</label>
   </div>
   <!-- RememberMe } -->
</div>
<!-- RememberMe & ForgotPw } -->
{% endblock formContent %}

{% block formBelow %}
<div class="row no-gutters mt-3">
   <div class="col-6">
      <a href="docs/privacyPolicy" class="formLink">{{ privacyPolicy }}</a>
   </div>
   <div class="col-6 text-right">
      <a href="{{ url_for('authentication_blueprint.passwordrecovery') }}" class="formLink">{{ forgotPassword }}</a>
   </div>
   <div class="col-6">
      <a href="docs/termsOfUse" class="formLink">{{ termsOfUse }}</a>
   </div>
   <div class="col-6 text-right">
      <a href="{{ url_for('authentication_blueprint.register') }}" class="formLink">{{ gotoRegister }}</a>
   </div>
</div>
{% endblock formBelow %}
{# eof #}