{% extends "./layouts/form.tmpl" %}


{% block formAbove %}
   {% if success %}
      <div class="d-grid">
         <button type="button" class="btn accountMainBtn" onclick="window.location.href='{{ url_for('home_blueprint.index') }}'">{{ successBtn }}</button>
      </div>
   {% endif %}
{% endblock formAbove %}

{% block formContent %}
   {% if not success %}
   <div class="form-group mb-3">
      <label class="accountLabel" for="user_email">{{ emailLabel }}</label>
      <div class="input-group">
            <span class="input-group-text">
               <span class="fas fa-envelope"></span>
            </span>
            {{ form.user_email(class="form-control", id="user_email") }}
      </div>
   </div>
   {% endif %}
{% endblock formContent %}
{# eof #}