{# passwordrecovery.html.j2 (mgd) #}

{% extends "./layouts/form.html.j2" %}

{% block formAbove %}
    {% if success %}
        <div class="d-grid">
        <button type="button" class="btn formMainBtn"
            onclick="window.location.href='{{ url_for('authentication_blueprint.login') }}'">{{ successBtn }}</button>
        </div>
    {% endif %}
{% endblock formAbove %}

{% block formContent %}
    {% if not success %}
        <div class="form-group mb-3">
        <label class="formLabel" inert for="user_email">{{ emailLabel }}</label>
        <div class="input-group">
            <span class="input-group-text">
                <span class="fas fa-envelope"></span>
            </span>
            {{ form.user_email(class="form-control", id="user_email") }}
        </div>
        </div>
    {% endif %}
{% endblock formContent %}


{% block formBelow %}
    {% if not success %}
        <div class="row no-gutters mt-3">
            <div class="col-6">
                <a href="{{ url_for('authentication_blueprint.login') }}" class="formLink">{{ rememberedPassword }}</a>
            </div>
            <div class="col-6 text-right">
                <a href="{{ url_for('authentication_blueprint.register') }}" class="formLink">{{ gotoRegister }}</a>
            </div>
        </div>
    {% endif %}
{% endblock formBelow %}
{# eof #}