{# register.html.j2  (mgd) #}


{% extends "./layouts/form.html.j2" %}

{% block formAbove %}
   {% if success %}
   <div class="d-grid">
      <button type="button" class="btn formMainBtn" onclick="window.location.href='{{ url_for('authentication_blueprint.login') }}'">{{ gotoLogin }}</button>
   </div>
   {% endif %}
{% endblock formAbove %}

{% block formContent %}
   {% if not success %}
      <!-- { User Name -->
      <div class="form-group">
         <label class="formLabel" for="userName">{{ userLabel }}</label>
         <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
               <span class="fas fa-user"></span>
            </span>
            {{ form.username(class="form-control", id= "userName") }}
         </div>
      </div>
      <!-- User Name } -->

      <!-- Email  -->
      <div class="form-group mt-3">
         <label class="formLabel" for="user_email">{{ emailLabel }}</label>
         <div class="input-group">
            <span class="input-group-text" id="basic-addon3">
               <span class="fas fa-envelope"></span>
            </span>
            {{ form.email(class="form-control", type="email", id="user_email") }}
         </div>
      </div>
      <!-- Email } -->

      <!-- { Password  -->
      <div class="form-group mt-3">
         <label class="formLabel" for="password">{{ passwordLabel }}</label>
         <div class="input-group">
            <span class="input-group-text" id="basic-addon4">
               <span class="fas fa-unlock-alt"></span>
            </span>
            {{ form.password(class="form-control", type="password", id="password") }}
         </div>
      </div>
      <!-- Password } -->

      <!-- { Termo || '' -->
      <div class="form-group mt-2">
         <div class="formTwoCells">
            <!-- { Termo -->
            <div>
               <input class="formCheckBtn" type="checkbox" onclick="fTermsAccepted()" id="termsAccepted">
               <label class="formLabel" class="form-check-label" for="termsAccepted">
                  {{ termsLabel }}
                  <a class="formLink" href="docs/politica_de_privacidade">{{ termsLink }}</a>
               </label>
            </div>
            <!-- Termo } -->
            <!-- empty } -->
            <span>&nbsp;</span>
            <!-- end empty } -->
         </div>
      </div>
      <!-- { '' & 'login' -->
      <div class="formTwoCells">
         <!-- empty } -->
         <span>&nbsp;</span>
         <!-- end empty } -->
         <span>
            <a class="formLink" href="{{ url_for('authentication_blueprint.login') }}">{{ gotoLogin }}</a>
         </span>
      </div>
      <!-- forgot | register } -->
   {% endif %}
{% endblock formContent %}


{% block javascripts %}
   {% if not success %}
   <script>
      const btnSubmit = document.getElementById("formMainBtn-id");
      const btnAccepted = document.getElementById("termsAccepted");
      btnSubmit.disabled = true;
      btnAccepted.checked = !btnSubmit.disabled;
      function fTermsAccepted() { btnSubmit.disabled = !btnAccepted.checked; }
   </script>
   {% endif %}
{% endblock javascripts %}
{# eof #}
