{% extends "./layouts/accounts.tmpl" %}

{% block formAbove %}
   {% if success %}
   <div class="d-grid">
      <button type="button" class="btn accountMainBtn" onclick="window.location.href='{{ url_for('authentication_blueprint.login') }}'">{{ gotoLogin }}</button>
   </div>
   {% endif %}
{% endblock formAbove %}

{% block formContent %}
   {% if not success %}
      <!-- { User Name -->
      <div class="form-group">
         <label class="accountLabel" for="userName">{{ userLabel }}</label>
         <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
               <span class="fas fa-user"></span>
            </span>
            {{ form.username(class="form-control", id= "userName") }}
         </div>
      </div>
      <!-- User Name } -->

      <!-- Email  -->
      <div class="form-group mt-3">
         <label class="accountLabel" for="user_email">{{ emailLabel }}</label>
         <div class="input-group">
            <span class="input-group-text" id="basic-addon3">
               <span class="fas fa-envelope"></span>
            </span>
            {{ form.email(class="form-control", type="email", id="user_email") }}
         </div>
      </div>
      <!-- Email } -->

      <!-- { Password  -->
      <div class="form-group mt-3">
         <label class="accountLabel" for="password">{{ passwordLabel }}</label>
         <div class="input-group">
            <span class="input-group-text" id="basic-addon4">
               <span class="fas fa-unlock-alt"></span>
            </span>
            {{ form.password(class="form-control", type="password", id="password") }}
         </div>
      </div>
      <!-- Password } -->

      <!-- { Termo || Login -->
      <div class="form-group">
         <div class="accountTwoCells">
               <!-- { Tremo -->
               <div>
                  <input class="accountCheckBtn" type="checkbox" onclick="fTermsAccepted()" id="termsAccepted">
                  <label class="accountLabel" class="form-check-label mb-0" for="termsAccepted">
                     {{ termsLabel }}
                     <b><a class="accountLink" href="docs/politica_de_privacidade">{{ termsLink }}</a></b>
                  </label>
               </div>
               <!-- RememberMe } -->

               <!-- { ForgotPw :-( -->
               <span>
                  <a class="accountLink" href="{{ url_for('authentication_blueprint.login') }}">{{ gotoLogin }}</a>
               </span>
               <!--End ForgotPw } -->
         </div>
      </div>
   {% endif %}
{% endblock formContent %}


{% block javascripts %}
   {% if not success %}
   <script>
      const btnSubmit = document.getElementById("btnSubmit");
      const btnAccepted = document.getElementById("termsAccepted");
      btnSubmit.disabled = true;
      btnAccepted.checked = !btnSubmit.disabled;
      function fTermsAccepted() { btnSubmit.disabled = !btnAccepted.checked; }
   </script>
   {% endif %}
{% endblock javascripts %}
{# eof #}
