{% extends "./layouts/form.tmpl" %}

{% block formAbove %}
   {% if success %}
   <div class="d-grid">
      <button type="button" class="btn formMainBtn" onclick="window.location.href='{{ url_for('authentication_blueprint.login') }}'">{{ rst_chgPwSuccessBtn }}</button>
   </div>
   {% endif %}
{% endblock formAbove %}


{% block formContent %}
   {% if not success %}
   <!-- { New Password -->
   <div class="form-group">
      <label class="formLabel" for="pwdCreate">{{ newPasswordLabel }}</label>
      <div class="input-group">
         <span class="input-group-text">
            <span class="fas fa-unlock-alt"></span>
         </span>
         {{ form.password(class="form-control", id="pwdCreate") }}
      </div>
   </div>
   <!-- New Password } -->

   <!-- { Repeat Password -->
   <div class="form-group mt-3">
      <label class="formLabel" for="pwdConfirm">{{ confirmNewPasswordLabel }}</label>
      <div class="input-group">
         <span class="input-group-text">
            <span class="fas fa-unlock-alt"></span>
         </span>
         {{ form.confirm_password(class="form-control", id="pwdConfirm") }}
      </div>
   </div>
   <!-- Repeat Password } -->
   {% endif %}
{% endblock formContent %}
{# eof #}