{# uploadfile.html.j2 (mgd) #}

{% extends "./layouts/form.html.j2" %}


{% block formContent %}
    {% if not success %}
    <div class="form-group mb-3">
    <label class="formLabel" inert for="upload_file">{{ fileLabel }}</label>
    <div class="input-group">
        {{ form.filename(class="form-control", id="upload_file") }}
    </div>
    </div>
{% endif %}
{% endblock formContent %}


{# eof #}