{# ------------------------------------
_action_forms_and_btns.html.j2

Macros for Action Forms and Buttons:
- `action_form__close`: Closes the form and redirects to login().

Buttons:
- `btn_close`: [Close] | [X]
- `btn_submit`: [Submit]

v2 2024.04.01
mgd

Spell:ignore endmacro preid
#}


{# `action_form__form_submit_id` is defined in templates/layouts/base.html.j2 #}
{% macro action_form__close(action_form__form_on_close, action_form__form_submit_id) %}
<form action="{{action_form__form_on_close}}" method="get" id="{{action_form__form_submit_id}}"></form>
{% endmacro %}

{% macro
btn_close(action_form__form_submit_id, caption="OK", id="form_btn_close", class="form-main-btn form-cancel")
%}
<button type="submit" class="{{class}}" form="{{action_form__form_submit_id}}" id="{{id}}">
    {{caption}}
</button>
{% endmacro %}

{% macro btn_submit(action_form__form_submit_id, caption="Save", id="form_submit_id", attrib= "") %}
<button type="submit" class="form-main-btn form-submit" form="{{action_form__form_submit_id}}" id="{{id}}" {{attrib}}>
    {{caption}}
</button>
{% endmacro %}


{% macro btn_action(action_form__id, caption, pre_id="")%}
<button type="submit" class="form-main-btn form-submit btn-action" form="{{action_form__id}}"
    id="{{pre_id}}{{hash(caption)}}">
    {{caption}}
</button>
{% endmacro %}

{# eof #}