{# ------------------------------------
.\includes\backend-msg.html.j2
---------------------------------

Displays HTML messages (Error, Info & Success)
Used by:
carranca\templates\accounts\
- from.html.j2
- sep_mgmt.html.j2

mgd
--------------------------------------- #}
{# cSpell:ignore elif mgmt #}


{% if msgInfo or msgWarn or msgError or msgSuccess %}
<!-- { BackendMessage -->
<div class="text-center text-md-center mt-0 mb-3">
    <h6 class="font-weight-normal">
        {% if msgError %}
        <div class="alert alert-danger">
            {{ msgError | safe }}
        </div>
        {% endif %}

        {% if msgWarn %}
        <div class="alert alert-warning">
            {{ msgWarn | safe }}
        </div>
        {% endif %}

        {% if msgSuccess %}
        <div class="alert alert-success">
            {{ msgSuccess | safe }}
        </div>
        {% endif %}

        {% if msgInfo %}
        <div class="alert alert-info">
            {{ msgInfo | safe }}
        </div>
        {% endif %}
    </h6>
</div>
<!-- BackendMessage } -->
{% endif %}