{# ------------------------------------
./includes/backend-msg.html.j2
---------------------------------

Displays HTML messages (Error, Info & Success)
Used by:
carranca/templates/accounts/
- from.html.j2
- sep_mgmt.html.j2

mgd
--------------------------------------- #}
{# cSpell:ignore mt_x #}

{# ┌┄┄┄┄┄┄┄┄┄┄┄┄┄ if any message exists ┄┄┄┄┄┄┄┄┄┄┄┄┄┐ #}
{% if msgInfo or msgWarn or msgError or msgSuccess %}

<div class="text-center text-md-center">
    <h6 class="font-weight-normal">
        {# Warn is only used is ups_handler, to show a 'light error', if user is adm, follows str(e) #}
        {% set mrg= '' %}

        {# ┄┄┄┄┄ Error ┄┄┄┄┄ #}
        {% if msgError %}
        <div class="alert alert-danger {{mrg}} mb-0">
            <i class="backend-msg-icon" inert>🛑</i>
            <div>{{ msgError | safe }}</div>
        </div>
        {% set mrg= 'mt-1' %}
        {% endif %}

        {# ┄┄┄┄┄ Warning ┄┄┄┄┄ #}
        {% if msgWarn %}
        <div class="alert alert-warning {{mrg}} mb-0">
            <i class="backend-msg-icon" inert>⚠️</i>
            <div>{{ msgWarn | safe }}</div>
        </div>
        {% set mrg= 'mt-1' %}
        {% endif %}

        {# ┄┄┄┄┄ Success ┄┄┄┄┄ #}
        {% if msgSuccess %}
        <div class="alert alert-success {{mrg}} mb-0">
            <i class="backend-msg-icon" inert>⭐</i>
            <div>{{ msgSuccess | safe }}</div>
        </div>
        {% set mrg= 'mt-1' %}
        {% endif %}

        {# ┄┄┄┄┄ Information ┄┄┄┄┄ #}
        {% if msgInfo %}
        <div class="alert alert-info {{mrg}} mb-0">
            <i class="backend-msg-icon" inert>🛈</i>
            <div>{{ msgInfo | safe }}</div>
        </div>
        {% set mrg= 'mt-1' %}
        {% endif %}

        {# ┄┄┄┄┄ Technical ┄┄┄┄┄ #}
        {% if msgTech %}
        <div class="alert alert-dark {{mrg}} mb-0">
            <i class="backend-msg-icon" inert>⚙️</i>
            <div>{{ msgTech | safe }}</div>
        </div>
        {% set mrg= 'mt-1' %}
        {% endif %}

    </h6>
</div>

{% endif %}
{# └┄┄┄┄┄┄┄┄┄┄┄┄┄ if any message exists ┄┄┄┄┄┄┄┄┄┄┄┄┄┘ #}

{# eof #}