{#
------------------------------------
.\includes\grid-body.html.j2
---------------------------------

Common body for ag-grid
mgd
--------------------------------------- #}

{#
Jinja does not process {% block %} definitions inside an included file.
To ensure blocks are properly expanded, define them in the main template
and place {% include %} inside the block."
#}
{% include "./includes/backend-msg.html.j2" %}
<div id='{{ grid_id }}' class="ag-theme-quartz" style="height: 400px"></div>

{# eof #}