{# ------------------------------------
./includes/menu.html.j2
--------------------------------
The menu header

Used by:
./layouts/base.html.j2

mgd

TODO Selected menu class-> active

cSpell:ignore unselectable labelledby haspopup noopener noreferrer onclick elif
cSpell:ignore semi-words: formul estrat gicos sess tojson jinja nbsp endfor j_user inser
--------------------------------------- #}
<nav id="navbar-main" class="navbar fixed-top navbar-expand-sm shadow-sm px-2">
    {% set menu_header= app_menu('menuHeaders') %}
    {% set sep_list= sep_menu() %}
    {% set sep_menu_class= '' %}
    {% set j_user= jinja_user() %}

    {% if j_user.power %}
    {# -- #}{% set scm_list= scm_menu() %}
    {% elif not sep_list %}
    {# -- #}{% set sep_menu_class= 'disabled' %}
    {% endif %}

    <div class="container-fluid">
        <div class="navbar-brand mb-1" inert>{{app_name}}</div>
        <button class="navbar-toggler {{nav_button_state}}" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapsible" aria-controls="navbarCollapsible" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapsible">
            <ul class="navbar-nav me-auto mb-lg-0">


                {# ╒════════════════════ Menu: Validação ═════════════════════════════╕ #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle unselectable-text {{nav_button_state}}" href="#"
                        id="menu-receive" role="button" data-bs-toggle="dropdown">
                        {{menu_header['validate']}}

                    </a>
                    {% if nav_sub_menu %}
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{private_route('receive_file')}}"
                                title="Abre formulário para enviar um arquivo local ZIP ou do Google Drive ao processo de valida&ccedil;&atilde;o">
                                Enviar Arquivo ou Link
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="{{private_route('received_files_mgmt')}}"
                                title="Abre grid dos arquivos enviados ao processo de valida&ccedil;&atilde;o e resultados">
                                Arquivos Enviados e Resultados
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </li>

                {# ╒════════════════════ Menu: Setor Estratégico ═════════════════════╕ #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle unselectable-text {{nav_button_state}} {{sep_menu_class}}"
                        href="#" id="menu-se" role="button" data-bs-toggle="dropdown">
                        {{menu_header['strategicSector']}}
                    </a>
                    {% if nav_sub_menu %}
                    <ul class="dropdown-menu">
                        {% if j_user.power %}
                        {# ╒════════ admin sep menu ═══════╕ #}
                        <li>
                            <a class="dropdown-item" href="{{private_route('sep_mgmt')}}"
                                title="Abre grid de atribuiç&atilde;o de gestores a setores estrat&eacute;gicos">
                                Gest&atilde;o
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{private_route('sep_edit', code=ui_act_add) }}"
                                title="Abre formul&aacute;rio para adicionar um setor estrat&eacute;gico">
                                Inser&ccedil;&atilde;o
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{private_route('sep_grid', code=ui_act_shw) }}"
                                title="Abre grid para editar ou remover setores estrat&eacute;gicos">
                                Edi&ccedil;&atilde;o e Remo&ccedil;&atilde;o
                            </a>
                        </li>
                        {# ╘════════ admin sep menu ═══════╛ #}
                        {% else %}
                        {# ╒═════ user with seps menu ═════╕ #}
                        {% for sep in sep_list %}
                        <li>
                            <a class="dropdown-item"
                                href="{{private_route('sep_edit', code=sep.code) }}">{{sep.name}}</a>
                        </li>
                        {% endfor %}
                        {# ╘════════ user sep menu ════════╛ #}
                        {% endif %}
                    </ul>
                    {% endif %}
                </li>

                {# ╒════════════════════ Menu: Esquema ══════════════════════════════╕ #}
                {% if j_user.power  %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle unselectable-text {{nav_button_state}}"
                        href="#" id="menu-se" role="button" data-bs-toggle="dropdown">
                        {{menu_header['Schema']}}
                    </a>
                    {# ╒════════ schema menu ════════╕ #}
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{private_route('scm_edit', code=ui_act_add) }}"
                                title="Abre formul&aacute;rio para adicionar um esquema">
                                Inser&ccedil;&atilde;o
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{private_route('scm_grid', code=ui_act_shw) }}"
                                title="Abre grid para editar ou remover esquemas">
                                Edi&ccedil;&atilde;o e Remo&ccedil;&atilde;o
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{private_route('scm_export', code=ui_act_shw)}}"
                                title="Abre a pagina para exportar os esquemas ao BD">
                                Exporta&ccedil;&atilde;o
                            </a>
                        </li>
                    </ul>
                    {# ╘════════ schema menu ════════╛ #}
                </li>
                {% endif %}



                {# ╒════════════════════ Menu: Documentos ════════════════════════════╕ #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle unselectable-text {{nav_button_state}}" href="#" id="menu-docs"
                        role="button" data-bs-toggle="dropdown">
                        {{menu_header['documents']}}
                    </a>
                    {% if nav_sub_menu %}
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                                href="https://docs.google.com/document/d/1ZYOQricIqeNkZ3XnLoSXp-lKle9V1UTb-acASZtAa4E/edit"
                                target="_blank" rel="noopener noreferrer"
                                title="Abre documento 'Especifica&ccedil;&atilde;o de Requisitos e Formatos' em outra aba">
                                Especifica&ccedil;&atilde;o
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ public_route('docs', publicDocName='privacyPolicy')}}"
                                title="Exibe documento de pol&iacute;tica de privacidade do aplicativo">
                                Pol&iacute;tica de Privacidade
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ public_route('docs', publicDocName='termsOfUse')}}"
                                title="Exibe documento de termos de uso do aplicativo">
                                Termos de Uso
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ public_route('docs', publicDocName='aboutApp')}}"
                                title="Mostra informa&ccedil;&atilde;o sobre o aplicativo">
                                Sobre {{ app_name }}
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </li>

                {# ╒════════════════════ Menu: Usuário ═══════════════════════════════╕ #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle unselectable-text {{nav_button_state}}" href="#" id="menu-user"
                        role="button" data-bs-toggle="dropdown">
                        {{j_user.name}}
                    </a>
                    {% if nav_sub_menu %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item disabled" href="#" title="O seu rol em {{ app_name }}">
                                Usuário&nbsp{{j_user.role}}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{private_route('change_password')}}"
                                title="Abre formul&aacute;rio para alterar sua senha">
                                Mudar Senha
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{private_route('confirm_user_email')}}"
                                title="Lhe envia um e-mail de teste">
                                Confirmar e-mail
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="logout()"
                                title="Fecha a sess&atilde;o e sai do aplicativo">
                                Sair de {{app_name}}
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

{# eof #}