{# ------------------------------------
./includes/menu.html.j2
--------------------------------
The menu header

Used by:
./layouts/base.html.j2

mgd

TODO Selected menu class-> active

cSpell:ignore unselectable labelledby haspopup noopener noreferrer onclick
cSpell:ignore semi-words: formul estrat gicos sess tojson jinja nbsp endfor
--------------------------------------- #}
<nav id="navbar-main" class="navbar fixed-top navbar-expand-sm shadow-sm px-2">
    {% set menu_header= app_menu('menuHeaders') %}
    <div class="container-fluid">
        <div class="navbar-brand mb-1" inert>{{app_name}}</div>
        <button class="navbar-toggler {{nav_button_state}}" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapsible" aria-controls="navbarCollapsible" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapsible">
            <ul class="navbar-nav me-auto mb-lg-0">

                {# Menu: Validação #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle unselectable-text {{nav_button_state}}" href="#"
                        id="menu-receive" role="button" data-bs-toggle="dropdown">
                        {{menu_header['validate']}}

                    </a>
                    {% if nav_sub_menu %}
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ private_route('receive_file') }}"
                                title="Abre o formulário para submeter um arquivo ZIP o do Google Drive ao processo de valida&ccedil;&atilde;o">
                                Enviar arquivo ou link
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="{{ private_route('received_files_mgmt') }}"
                                title="Abre o grid dos arquivos submetidos ao processo de valida&ccedil;&atilde;o e resultados">
                                Arquivos enviados e resultados
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </li>

                {# Menu: Setor Estratégico #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle unselectable-text {{nav_button_state}}" href="#" id="menu-se"
                        role="button" data-bs-toggle="dropdown">
                        {{menu_header['strategicSector']}}
                    </a>
                    {% if nav_sub_menu %}
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ private_route('sep_mgmt') }}"
                                title="Abre o grid de Gest&atilde;o de Setores Estrat&eacute;gicos">
                                Gest&atilde;o
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ private_route('sep_edit', code='+') }}">Novo</a>
                        </li>
                        <li class="dropdown-item disabled menu-item-disable-link-color" aria-disabled="true">
                            Edi&ccedil;&atilde;o:
                        </li>
                        {% for sep in sep_menu() %}
                        <li>
                            <a class="dropdown-item" href="{{ private_route('sep_edit', code=sep.code) }}">
                                &nbsp;&nbsp;{{sep.name}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>

                {# Menu: Documentos #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle unselectable-text {{nav_button_state}}" href="#" id="menu-docs"
                        role="button" data-bs-toggle="dropdown">
                        {{menu_header['documents']}}
                    </a>
                    {% if nav_sub_menu %}
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                                href="https://docs.google.com/document/d/1ZYOQricIqeNkZ3XnLoSXp-lKle9V1UTb-acASZtAa4E/edit"
                                target="_blank" rel="noopener noreferrer"
                                title="Abre o documento 'Especifica&ccedil;&atilde;o de Requisitos e Formatos' em outra aba">
                                Especifica&ccedil;&atilde;o
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ public_route('docs', publicDocName='termsOfUse') }}"
                                title="Exibe o documento de pol&iacute;tica de privacidade do aplicativo">
                                Pol&iacute;tica de Privacidade
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ public_route('docs', publicDocName='termsOfUse') }}"
                                title="Exibe o documento de termos de uso do aplicativo">
                                Termos de Uso
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ public_route('docs', publicDocName='aboutApp') }}"
                                title="Mostra informa&ccedil;&atilde;o sobre o aplicativo">
                                Sobre {{ app_name }}
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </li>

                {# Menu: Usuário #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle unselectable-text {{nav_button_state}}" href="#" id="menu-user"
                        role="button" data-bs-toggle="dropdown">
                        {{jinja_user().name}}
                    </a>
                    {% if nav_sub_menu %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item disabled" href="#" title="O seu rol em {{ app_name }}">
                                Usuário&nbsp{{jinja_user().role}}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ private_route('change_password') }}"
                                title="Abre o formul&aacute;rio para alterar sua senha">
                                Mudar senha
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="logout()"
                                title="Fecha a sess&atilde;o e sai do aplicativo">
                                Sair de {{app_name}}
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

{# eof #}