{# ------------------------------------
./includes/menu.html.j2
--------------------------------
The menu header

Used by:
./layouts/base.html.j2

mgd

cSpell:ignore nowrap unselectable noopener noreferrer termofuse onclick mgmt
--------------------------------------- #}

<header class="header-global">
    <nav id="navbar-main" aria-label="Primary menu"
        class="navbar navbar-expand-lg navbar-dark container-xxl flex-wrap flex-md-nowrap"
        style="height: 3em; padding: 0 !important; background-color:#ffffff7a;">

        <div class="container">
            <span style="width: '3em'">
                {% if logged_user and logged_user.sep and logged_user.sep.icon_url %}
                <img src="{{ logged_user.sep.icon_url }}"
                    title="Setor Estrat&eacute;gico At&iacute;vo [{{logged_user.sep.full_name}}]" height="50%"
                    width="50%">
                {% endif %}
            </span>

            <a class="unselectable-text nav-button {{ navButtonState }}" type="button"
                href="{{ private_route('receive_file') }}"
                title="Abre o formulário para submeter um arquivo ZIP o do Google Drive ao processo de valida&ccedil;&atilde;o">
                [Validar dados]
            </a>
            <a class="unselectable-text nav-button {{ navButtonState }}" type="button"
                href="{{ private_route('sep_mgmt') }}"
                title="Abre o grid de Gest&atilde;o de Setores Estrat&eacute;gicos">
                [Gest&atilde;o de SE]
            </a>
            <a class="unselectable-text nav-button {{ navButtonState }}" type="button"
                href="{{ private_route('sep_edit') }}"
                title="Abre o formulário de edi&ccedil;&atilde;o do Setor Estrat&eacute;gico">
                [Edi&ccedil;&atilde;o de SE]
            </a>
            <a class="unselectable-text nav-button {{ navButtonState }}" type="button"
                href="https://docs.google.com/document/d/1ZYOQricIqeNkZ3XnLoSXp-lKle9V1UTb-acASZtAa4E/edit"
                target="_blank" rel="noopener noreferrer"
                title="Abre o documento 'Especifica&ccedil;&atilde;o de Requisitos e Formatos' em outra aba">
                [Especifica&ccedil;&atilde;o]
            </a>
            {# href="{{ public_route('docs', publicDocName='termsOfUse') }}" #}
            {# href="{{ public_route('docs', publicDocName='sectorSpecifications') }}" #}
            <a class="unselectable-text nav-button {{ navButtonState }}" type="button"
                href="{{ public_route('docs', publicDocName='termsOfUse') }}"
                title="Exibe o documento de pol&iacute;tica de privacidade do aplicativo">
                [Pol&iacute;tica de Privacidade]
            </a>
            <a class="unselectable-text nav-button {{ navButtonState }}" type="button"
                href="{{ private_route('change_password') }}" title="Abre o formul&aacute;rio para alterar sua senha">
                [Mudar senha]
            </a>
            <a class="unselectable-text nav-button {{ navButtonState }}" type="button"
                href="{{ public_route('docs', publicDocName='aboutApp') }}"
                title="Mostra informaca&ccedil;&atilde;o sobre o aplicativo">
                [Sobre]
            </a>
            <!-- a type="button" href="{{ private_route('test_route') }}">[testar arquivo]</a>  -->
            <button class="nav-button {{ navButtonState }}" onclick="logout()"
                title="Fecha a sess&atilde;o e sai do aplicativo">
                [Sair:&nbsp;&nbsp;{{logged_user.name}}]
            </button>
        </div>
    </nav>
</header>
{# eof #}