{# ------------------------------------
./layouts/base.html.j2
-----------------------
The Base Template for Canoa

Used by:
./layouts/dialog.html.j2
./private/home.html.j2



TODO:
structure:
==========

</html>

<head>
    <!-- standard -->
    <!-- base links -->
    {%-- base_blc_head_js %}
    {%-- [base_js_head_list] %}
    {%-- base_blc_head_css %}
    {%-- [base_css_head_list] %}
</head>

<body>
    :
    :
</body>



= []'static/form_help.js', ...]



mgd
--------------------------------------- #}
{# cSpell:ignore endwith fontawesome stylesheet endfor #}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Canoa {%+ if pageTitle %} &ndash; {{pageTitle}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Canoa">
    <meta name="author" content="Equipe `Canoa`">
    <meta name="description" content="Canoa">

    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='img/favicon/favicon-32.png') }}">
    <link rel="icon" type="image/png" sizes="64x64"
        href="{{ url_for('static', filename='img/favicon/favicon-64.png') }}">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Pixel CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pixel.css') }}">
    <!-- Canoa CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/canoa.css') }}">

    <script>
        const logout = () => { if (confirm("Confirma sair de Canoa?")) window.location.href = "./logout" };
    </script>
    <!-- Page Script -->
    {% block base_blc_head_js %}
    {% endblock base_blc_head_js %}

    <!-- Page Scripts -->
    {% if base_js_head_list %}
    {% for script in base_js_head_list %}
    <script src="{{script}}"></script>
    {% endfor %}
    {% endif %}

    <!-- Page Styles -->
    {% block base_blc_head_css %}{% endblock base_blc_head_css %}
    {% if base_css_head_list %}
    {% for ccs in base_css_head_list %}
    <link rel="stylesheet" href="{{css}}">
    {% endfor %}
    {% endif %}

</head>

<body>
    <main>
        {% if logged_user %}
        {% set setNavButtonState= navButtonState | default('nav-button-disabled') %}
        {% with navButtonState = setNavButtonState %}
        {% include 'includes/navigator.html.j2' %}
        {% endwith %}
        {% endif %}
        {% block base_blc_content %}
        {% endblock base_blc_content %}
    </main>

    {% block base_blc_htmlHelpers %}{% endblock base_blc_htmlHelpers %}

    {% include 'includes/scripts.html' %}

    {% block base_blc_body_js %}{% endblock base_blc_body_js %}
</body>

</html>
{# eof #}