{# ------------------------------------

layouts\dialog.html.j2
----------------------
Highly configurable template for (modal or normal) dialogs

Displays:
- \layouts\form.html.j2
- \home\document.html.j2

- names:
dlg «X» Name
X => meaning
---------------
_var_ => VARiable
_cls_ => CLaSs
-id- => ID
_blc_ => BLoCk
_js_ => JScript

- Configuration (default is '', if not shown)
dlg_cls_body
dlg_cls_btnClose
dlg_cls_btnOk
dlg_cls_content
dlg_cls_dialog
dlg_cls_footer
dlg_cls_header | default('dialog-header')
dlg_cls_size | 'Default = 500px ' modal-sm, modal-lg, modal-xl
dlg_cls_title | default('dialog-title')
dlg_cls_top | default('mt-6')


dlg_var_style
dlg_var_scroll
dlg_var_close | default(True) // display Close button
dlg_var_vCentered | default(False) // from is Vertical Centered

dlg_js_frm const onSumbmit = () => {}

mgd
--------------------------------------- #}

{% extends "./layouts/base.html.j2" %}

{% block base_blc_content %}
<section>
    <div class="modal{%+ if not (dlg_var_vCentered|default(False)) %} {{dlg_cls_top|default('mt-6')}}{% endif %}"
        style="{{(dlg_var_style|default('display: block;'))}}" tabindex="-1" id="dlg-id-main">
        <div
            class="modal-dialog {{dlg_cls_size|default('')}} {%+ if (dlg_var_vCentered|default(False)) %}modal-dialog-centered{% endif %} {%+ if dlg_var_scroll %}modal-dialog-scrollable{% endif %} {{dlg_cls_dialog|default('')}}">
            <div class="modal-content {{dlg_cls_content|default('')}}">
                <div class="modal-header {{dlg_cls_header|default('dialog-header')}}">
                    <h5 class="modal-title {{dlg_cls_title|default('dialog-title')}}" inert>
                        {{ (formTitle | default(app_name())) }}
                    </h5>
                    <form action="{{ public_route('login') }}" method="GET">
                        <button type="submit" class="btn-close {{dlg_cls_btnClose|default('')}}" data-bs-dismiss="modal"
                            {%+ if not (dlg_var_close|default(True)) %}style='display: none;' {% endif %}
                            aria-label="Close">
                        </button>
                    </form>
                </div>
                <div class="modal-body {{dlg_cls_body|default('')}}">
                    {% block dlg_blc_body %}
                    {% endblock dlg_blc_body %}
                </div>
                <div class="modal-footer justify-content-center {{dlg_cls_footer|default('')}}">
                    {% block dlg_blc_footer %}
                    {% endblock dlg_blc_footer %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock base_blc_content %}

{% block base_blc_body_js %}
{% block dlg_blc_javascript %}
{% endblock dlg_blc_javascript %}

{% if dlg_js_frm %}
<script>
    { { dlg_js_frm } }
</script>
{% endif %}
{% endblock base_blc_body_js %}

{# eof #}