{#
   carranca\templates\layouts\form.html
   ---------------------------------

   Managed & Displays HTML Forms
   Used by:
      carranca\templates\accounts\
         - login.html.j2
         - passwordrecovery.html.j2
         - register.html.j2
         - rst_chg_password.html.j2
         - receive_file.html.js
   mgd
#}

{% set dlg_var_vCentered= False %}
{% set dlg_cls_header= 'formHeader' %}
{% set dlg_cls_title= 'formTitle' %}
{% set dlg_cls_size= '' %}   {#  Size: sm, <>, lg, xl #}
{% set dlg_cls_top= 'mt-6' %}
{% set dlg_cls_footer= 'collapse' %}
{% set dlg_cls_btnOk= '' %}

{% set dlg_js_frm= '' %} {# const onSumbmit = () => {} #}

{% extends "./layouts/dialog.html.j2" %}

{% block dlg_blc_body %}
    {% if msgError or msgSuccess %}
        <!-- { BackendMessage -->
        <div class="text-center text-md-center mt-md-0 mb-3">
            <span class="font-weight-normal">
                {% if msgError %}
                    <div class="alert alert-danger mt-3">
                        {{ msgError | safe }}
                    </div>
                {% elif msgSuccess %}
                    <div class="alert alert-success mt-3">
                        {{ msgSuccess | safe }}
                    </div>
                {% endif %}
            </span>
        </div>
        <!-- BackendMessage } -->
   {% endif %}

   {% block frm_blc_above %}
   {% endblock frm_blc_above %}

   {#  display the form always except when sucess (when normal display or with an error)   #}
   {% if not msgSuccess %}
      <!-- { Form  -->
      <form method="post" action="" class="mt-2" onsubmit="document.getElementById('id-formMainBtn').disabled=true;" {{ formAttribute|default('') }}>
         {{ form.hidden_tag() }}

         {% block frm_blc_content %}
         {% endblock frm_blc_content %}

         <!-- { Submit -->
         <div class="d-grid mt-3">
            <button class="form-control formMainBtn" id="id-formMainBtn" type="submit">{{ submitButton }}</button>
         </div>
         <!-- Submit } -->
      </form>
      <!-- Form } -->
   {% endif %}

   {% block frm_blc_below %}
   {% endblock frm_blc_below %}

{% endblock dlg_blc_body %}

{% block frm_blc_script %}

{% endblock frm_blc_script %}

{# eof #}