{# ------------------------------------

./layouts/form.html.j2
----------------------
Managed & Displays HTML Forms

Extends:
./layouts/dialog.html.j2

Used by:
./accounts
- login.html.j2
- register.html.j2
- password_recovery.html.j2
- password_reset_or_change.html.j2

./private
- receive_file.html.j2

mgd
--------------------------------------- #}

{# only specify if different from default #}
{% set dlg_cls_footer= "collapse" %}
{% set form_bke_only_msg= msgOnly | default(False) %}
{% set form_bke_display_ui= not form_bke_only_msg %}
{% set form_close_btn_text= form_close_btn_text | default('Fechar') %}
{% set form_post_id= "form-post-id"%}

{% extends "./layouts/dialog.html.j2" %}

{# ╒════════════════ Dialog Body ════════════════╕ #}
{% block dlg_blc_body %}

{% include "includes/backend-msg.html.j2" %}

{% if form_bke_only_msg %}
{# ╒══════════ Display Message Only ══════════╕ #}

{% from "includes/_action_forms_and_btns.html.j2" import btn_close %}
{{ btn_close(action_form__form_close_id, form_close_btn_text) }}

{# ╘══════════ Display Message Only ══════════╛ #}
{% endif %}

{% block frm_blc_above %}
{% endblock frm_blc_above %}


{% if form_bke_display_ui %}
{# ╒═══════════════ Display UI ═══════════════╕ #}
<form method="post" action="" id={{form_post_id}} {{ formAttribute | default('') }}>
    {{ form.hidden_tag() }}

    {% block frm_blc_inputs %}
    {% endblock frm_blc_inputs %}
</form>

<div class="d-grid mt-6">
    {% from "includes/_action_forms_and_btns.html.j2" import btn_submit %}
    {{ btn_submit(form_post_id, submitButton) }}
</div>
{# ╘═══════════════ Display UI ═══════════════╛ #}
{% endif %}

{% block frm_blc_below %}
{% endblock frm_blc_below %}

{% endblock dlg_blc_body %}
{# ╘════════════════ Dialog Body ════════════════╛ #}


{% if form_bke_display_ui %}
{# ╒═══════════════ Display UI ═══════════════╕ #}
{# ╒══════ Override dialog ══════╕ #}
{% block dlg_blc_javascript %}
{{ super() }}

{% block frm_blc_script %}
{% endblock frm_blc_script %}

{% endblock dlg_blc_javascript %}
{# ╘══════ Override dialog ══════╛ #}
{# ╘═══════════════ Display UI ═══════════════╛ #}
{% endif %}

{# eof #}