{# ------------------------------------

./layouts/form.html.j2
----------------------
Managed & Displays HTML Forms

Extends:
./layouts/dialog.html.j2

Used by:
./accounts
- login.html.j2
- register.html.j2
- password_recovery.html.j2
- password_reset_or_change.html.j2

./private
- receive_file.html.js

mgd
--------------------------------------- #}

{# only specify if different from default #}
{% set dlg_cls_footer= "collapse" %}
{% set formID = "id-form-main"%}
{% if not base_js_head_list %}{%set base_js_head_list = []%} {% endif %}
{# {% set _ = base_js_head_list.append(static_route("js/form_helper.js")) %} #}

{% extends "./layouts/dialog.html.j2" %}

{# == Dialog Body == #}
{% block dlg_blc_body %}

{% include "includes/backend-msg.html.j2" %}
{% if msgOnly %}
<div class="">
    <form action="{{ public_route('login') }}" method="GET">
        <button type="submit" class="form-control mt-4 form-main-btn">
            {{ btnMsgOnly | default("OK") }}
        </button>
    </form>
</div>
{% endif %}

{% block frm_blc_above %}
{% endblock frm_blc_above %}

{# display the if not Success or Exception (see carranca\helpers\ui_texts_helper.py[add_msg_success]) #}
{% if not msgOnly %}
{# { Form --> #}
<form method="post" action="" id={{formID}} class="mt-2" ) {{ formAttribute|default("") }}>
    {{ form.hidden_tag() }}

    {% block frm_blc_content %}
    {% endblock frm_blc_content %}

    {# { Submit --> #}
    <div class="d-grid mt-3">
        {# see ./home/document.html.j2 #}
        <button class="form-control form-main-btn" id='id_form_main_btn' type="submit">
            {{ submitButton }}
        </button>
    </div>
    {# <!-- Submit } --> #}
</form>
{% endif %}


{% block frm_blc_below %}
{% endblock frm_blc_below %}

{% endblock dlg_blc_body %}
{# ==^ Dialog Body ^== #}

{% block frm_blc_script %}
{% endblock frm_blc_script %}

{# eof #}