{# ------------------------------------

layouts/grid.html.j2
----------------------
Highly configurable template to display ag-grid

mgd 2025-05-23
#}


{% set dlg_cls_size= dlg_cls_size | default('modal-xl') %}
{% set dlg_var_icon_url= iconFileUrl %}
{# {% set dlg_icon_id= 'dlg-icon-id' %} #}

{% extends "./layouts/dialog.html.j2" %}


{% block dlg_blc_body_cls_tweak %}grid-body{% endblock %}


{% if dlg_bke_display_ui %}
{# ╒════════════ Display UI ══════════════╕ #}

{% block base_blc_head_js %}
{% include "./includes/grid-header.html.j2" %}
{% endblock %}

{% block dlg_blc_body %}
{% include "./includes/grid-body.html.j2" %}
{% endblock %}

  {# ╒══════════ Footer Buttons ══════════╕ #}
  {% block dlg_blc_footer_buttons %}
    {% block grid_blc_footer %}{% endblock %}
  {% endblock %}
  {# ╘══════════ Footer Buttons ══════════╛ #}

  {# ╒════════════ JavaScript ═════════════╕ #}
  {% block dlg_blc_javascript %}
    {{ super() }}
    {% block grid_blc_javascript %}{% endblock %}
  {% endblock %}
  {# ╘════════════ JavaScript ═════════════╛ #}

  {# ╒══════════════ Forms ════════════════╕ #}
  {% block base_blc_forms %}
    {{ super() }}
    {% block grid_blc_forms %} {% endblock %}
  {% endblock %}
  {# ╘══════════════ Forms ════════════════╛ #}

{# ╘════════════ Display UI ══════════════╛ #}
{% endif %}