{#
   Displays simple or HTML documents
   The document should be divided into two parts, css & body

   mgd 2024.03
#}

{# classes #}
{% set dlg_var_vCentered= True %}
{% set dlg_cls_size= 'modal-lg' %}

{# variables#}
{% set dlg_var_scroll= True %}

{% extends "/layouts/dialog.html.j2" %}

{% block stylesheets %}
{{ documentStyle | safe }}
{% endblock stylesheets %}


{% block dlgBContent %}
{{ documentBody | safe }}
{% endblock dlgBContent %}

{# eof #}