{#
   Displays simple or HTML documents
   The document should be divided into two parts, css & body

   mgd 2024.03
#}

{# classes #}
{% set dlgCentered= True %}
{% set dlgSize= 'modal-lg' %}

{# variables#}
{% set dlgScroll= True %}

{% extends "/layouts/dialog.html.j2" %}

{% block stylesheets %}
{{ documentStyle | safe }}
{% endblock stylesheets %}


{% block dlgContent %}
{{ documentBody | safe }}
{% endblock dlgContent %}

{# eof #}