{% extends "layouts/base.tmpl" %}

{% block content %}
   {% include 'includes/navigation.html' %}
{% endblock content %}

{% block javascripts %}
   <script>
      function logout(){ if (confirm("Confirma sair de Caatinga?")) window.location.href="./logout"; }
      function working(text){ alert(text) }
      function display(){
         const modal = new bootstrap.Modal(document.getElementById('startUpInfo'), { keyboard: false})
         modal.show()
      }
   setTimeout(()=> display(), 500);
</script>
{% endblock javascripts %}
