{% extends "layouts/wizard.tmpl" %}

{% block wizardDescription %}{{ wzdDescription }}{% endblock %}

{% block wizardBody %}
<form id="pnForm">
  <div class="container" width="60%">
    <div class="row mb-3" style="display: flex; align-items: center; justify-content: center; flex-wrap: inherit; position: relative;">
      <button type="button" class="btn"
        style="width: 30px; height: 30px; border-radius: 100%; align-items: center; display: inline-flex; justify-content: center; color: #628d3c; border-color: #628d3c;"
        tabindex="-1" data-bs-placement="left" data-bs-trigger="focus" data-bs-toggle="popover" data-bs-title="Ajuda"
        data-bs-content="{{ helpProjectName }}">?</button>
      <label for="projectName" class="col-sm-2 col-form-label labelProjectName">{{ projectNameDesc|safe }}</label>
      <div class="col-sm-8 divInputProjectName" >
        <input id="projectName" name="projectName" class="form-control" type="text" title="{{ projectNameDesc|safe }}"
          value="{{ projectNameValue }}">
      </div>
    </div>
  </div>

  <!-- <input type="submit" value="Confirmar" /> -->
</form>
{% endblock wizardBody %}

{% block wizardConfig %}
<script>
  let sAction = '/callback/projectName';
  const sendData = () => { // mgd 2023.11.13
    let sParams = '?';
    for (const [key, value] of new FormData(wzdControl.ge('pnForm'))) {
      sParams += `${key}=${value}&`;
    }
    const fSuccess = (sRsp) => {
      if (sRsp.toUpperCase() == 'OK') {
        window.location = wzdControl.nextPageHref
      } else {
        wzdControl.messageError(sRsp);
      }
    }
    wzdControl.fetchObject(sAction + sParams.slice(0, -1), fSuccess, 'Não foi possível salvar o nome do projeto.', null, { type: 'text' });
    return false;
  }

  wzdControl.initPage({
    mode: wzdControl.mode.CUSTOM,
    nextPage: 'rsp-locationMethodSelect.html',
    onNext: () => { sendData(); return false; },
    help: `callback/help?id=${location.pathname.substring(location.pathname.lastIndexOf("/") + 1).replace('.html', '')}`,
  });


</script>
{% endblock %}

{# eof #}