{% extends "layouts/wizard.tmpl" %}

{% block wizardBody %}
    <div class="row mb-3">
      <select id="municipio" class="form-select" onchange="locChange(this.id)">
        <option value=" -1" hidden selected>(Primeiro selecione o Município)</option>
        {% for key, value in municipios.items() %}<option value=" {{ key }}">{{ value }}</option>{% endfor %}
      </select>
    </div>

    <div class="row mb-3">
      <!-- Perdro que textos são estes? -->
      {{ countyFitoFisionomyDesc|safe }}
      {{ thenFitoFisionomy|safe }}
      <select id="fito_ecologica" class="form-select" disabled="true" onchange="locChange(this.id)">
        <option value="-1" selected>
          {% for key, value in fito_municipios.items() %}<option value="{{ key|safe }}">{{ value|safe }}</option>{% endfor %}
        </option>
      </select>
    </div>
    <div style="min-height: 280px; margin-top: 1em; border: 1px solid #29874a ">
      <div id="mapArea" class="chart" style="height: 100%; width: 100%;"><!-- TODO spinner visibility: hidden;" -->
      </div>
    </div>
{% endblock wizardBody %}

{% block wizardConfig %}
<script>

  const _ge = (sId) => document.getElementById(sId);
  // Get element's Value
  const _gv = (sId) => _ge(sId).value;
  // Map's div ID
  const sMapArea = 'mapArea';
  //-- Avoid multiple async calls
  let bFetching = false;


  //-- Map arrived, show it
  let bBound = false;
  const _showMap = ( /** @type {Object} */ jsoData) => {
    const jsData = JSON.parse(jsoData);
    Plotly.react(sMapArea, jsData, {});
    if (!bBound) _ge(sMapArea).on('plotly_afterplot', () => document.body.style.cursor = 'default');
  }



  wzdControl.initPage({
    mode: wzdControl.mode.CUSTOM, nextPage: 'rsp-locationMethodSelect.html',
    help: `callback/help?id=${location.pathname.substring(location.pathname.lastIndexOf("/") + 1).replace('.html', '')}`
  });
</script>
{% endblock %}

{# eof #}