{% extends "layouts/wizard.tmpl" %}

{% block title %}Combinações possíveis para suas escolhas{% endblock %}

{% block wizardDescription %}Estimativas financeiras para cada combinação possível{% endblock %}
{% block wizardInstructions %}Selecione a combinação da sua preferência{% endblock %}

{% block wizardBody %}
<!-- start Accordion -->
<div class="accordion" id="acData" style="width: 100%">

    {% for _, strip in strips.iterrows() %}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#btnFaixa{{ strip.idFaixaTipo }}">
          Opções da Faixa '{{ strip.nomeFaixa }}'
        </button>
      </h2>
      <div id="btnFaixa{{ strip.idFaixaTipo }}" class="accordion-collapse collapse" data-bs-parent="#acData">
        <div class="accordion-body" id="body{{ strip.idFaixaTipo }}">
        </div>
      </div>
    </div>

    {% endfor %}
</div>
<!-- end Accordion -->
{% endblock wizardBody %}

{% block wizardScripts %}
<script>
  let jsoData = [];
  // Mauro: aqui seria bacana que isto estives num fetch
  //      removi sem permissão delas : "<b>Financeiro</b><br>" e coloquei <hr>
  {% for _, combination in combinations.iterrows() %}
  jsoData.push({
    bodyId: "body{{ combination.idFaixaTipo }}",
    id: "{{ combination.idCombinacao }}",
    caption: "Combinação {{ combination.Especies }}",
    text: '<div class="text-center">{{ combination.Especies }}</div><hr><b>TIR:</b> {{ "%.4f"|format(combination.TIR) }}<br>' +
      '<b>Pay-back:</b> {{ combination.payback }} anos<br>' +
      '<b>Investimento necessário:</b> {{ "%.2f"|format(combination.InvNecessario) }} <br>' +
      '<b>Valor Total Líquido:</b> {{ "%.2f"|format(combination.VTLiquido) }} <br>' +
      '<b>Valor Presente Líquido:</b> {{ "%.2f"|format(combination.VPLiquido) }} <br>'
  });
  {% endfor %}
  if(jsoData.length > 0){
    wzdControl.initPage( { data: jsoData, nextPage:'rsp-endProject.html', alignText: 'start', multiSelect: true, mode: wzdControl.mode.BUTTONS } );
  }
</script>
{% endblock wizardScripts %}