
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- version 0.998 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!-- Primary Meta Tags -->
   Projeto e Localização

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="title" content="Refloresta SP">
  <meta name="author" content="Equipe `Refloresta SP`">
  <meta name="description" content="">

  <link rel="icon" type="image/png" sizes="16x16" href="../../static/assets/img/favicon/favicon-16x16.jpg">

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- CSS -->
  <link type="text/css" href="../../static/assets/css/pixel.css" rel="stylesheet">
  <link type="text/css" href="../../static/assets/css/refloresta.css" rel="stylesheet">
</head>

<body>

  <!-- ===== Start Wizard ===== -->
  <div style="margin-top: 2%;">
    <div id="wzdId" class="wzdContainer">
      <div class="alert alert-primary mb-2" role="alert">
        <h6 class="alert-heading">Combinações possíveis para suas escolhas</h6>
      </div>

      <!-- start Accordion -->
      <div class="accordion" id="acData" style="width: 100%">
      {% for strip in strips %}
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        style="text-align:left; padding-left:6px"
                  data-bs-target="#bdLocation" aria-expanded="true" aria-controls="bdLocation">
                  {{ strip }}
                </button>
              </h2>
              <div id="bdLocation" class="accordion-collapse collapse" aria-labelledby="hdLocation" data-bs-parent="#acData">
                <div class="accordion-body">
                  <div class="d-grid gap-2">
              {% for _, combination in combinations.iterrows() %}
              {% if strip == combination.nomeFaixa %}
                    <button type="button" class="btn btn-info bg-gradient mx-5" data-bs-toggle="modal"
                            style="text-align:left; padding-left:6px" onclick="showConfirmacao( '' )"
                    >
                        {{ combination.Especies }}<br><b>Financeiro</b><br><b>TIR:</b> {{ "%.4f"|format(combination.TIR) }}<br>
                        <b>Pay-back (anos):</b> {{ combination.payback }}<br>
                        <b>Investimento necessário:</b> {{ "R$ %.2f"|format(combination.InvNecessario) }}<br>
                        <b>Valor Total Líquido:</b> {{ "R$ %.2f"|format(combination.VTLiquido) }}<br>
                        <b>Valor Presente Líquido:</b> {{ "R$ %.2f"|format(combination.VPLiquido) }}<br>
                    </button>
              {% endif %}
              {% endfor %}
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
      <!-- end Accordion -->
    <!-- end wzdContainer -->
    </div>
  </div>
  <!-- ====== End Wizard ====== -->

  <!-- ===== Start Modals ===== -->
  <!-- Modal Projeto -->
    <!-- Modal Combinações -->
    <div class="modal fade" id="U Uai" tabindex="-1" role="dialog" aria-labelledby="mdlCAR" aria-hidden="true">
      <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="h6 modal-title">Informe o CAR do Projeto</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input id="CAR" class="form-control" type="text" placeholder="Digite o CAR" />
          </div>
          <div class="modal-footer">
            <button id="okCAR" class="btn btn-primary" type="button" data-bs-dismiss="modal">Ok</button>
            <button class="btn btn-secundary" type="button" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  <!-- ====== End Modals ====== -->

  <!-- ===== Start Scripts ===== -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script>
    function showConfirmacao(id){
        if (confirm("É isso mêssss?")){
          document.getElementById('wzdId').style.visibility = 'hidden';
        }
    }
  </script>

<!-- Core -->
<script src="/static/assets/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/assets/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="/static/assets/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="/static/assets/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="/static/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/static/assets/vendor/vivus/dist/vivus.min.js"></script>
<script src="/static/assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Pixel JS -->
<script src="/static/assets/js/pixel.js"></script>
  <!-- ====== End Scripts ====== -->

</body>
</html>