{% extends "layouts/wizard.tmpl" %}
{% block wizardBody %}
<div class="containerTable">
  <div class="rowTable">
    <div class="col">
      <p class="labelTable">{{ title }}</p>
      <p>{{ text }}</p>
    </div>
  </div>
</div>

{% endblock wizardBody %} {% block wizardConfig %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  wzdControl.initPage({
    mode: wzdControl.mode.CUSTOM, nextPage: 'rsp-projectStart.html',
    help: `callback/help?id=${location.pathname.substring(location.pathname.lastIndexOf("/") + 1).replace('.html', '')}`
  });
</script>
{% endblock %} {# eof #}