{% extends "layouts/wizard.tmpl" %} {% block wizardDescription %}Resumo do Projeto{% endblock %} {% block wizardBody %}
<div class="containerTable">
  <div class="rowTable">
    <div class="col">
      <p class="labelTable">Nome:</p>
      <p>{{ descProjeto }}</p>
    </div>
    <div class="col">
      <p class="labelTable">Autor:</p>
      <p>{{ current_user.username }}</p>
    </div>
  </div>
  <div class="rowTable">
    <div class="col">
      <p class="labelTable">E-mail:</p>
      <p>{{ current_user.email }}</p>
    </div>
    <div class="col">
      <p class="labelTable">Finalidade:</p>
      <p>{{ desFinalidade }}</p>
    </div>
  </div>
  <div class="rowTable">
    <div class="col">
      <p class="labelTable">Distribuição de plantio:</p>
      <p>{{ nomeModelo }}</p>
    </div>
    <div class="col">
      <p class="labelTable">Declividade:</p>
      <p>{{ NomeTopografia }} - {{ descTopografia }}</p>
    </div>
  </div>
  <div class="rowTable">
    <div class="col">
      <p class="labelTable">Nível de mecanização:</p>
      <p>{{ nomeMecanizacao }}</p>
    </div>
    <div class="col">
      <p class="labelTable">TIR:</p>
      <p>{{ TIR }} %</p>
    </div>
  </div>
  <div class="rowTable">
    <div class="col">
      <p class="labelTable">Payback (anos):</p>
      <p>{{ payBack }}</p>
    </div>
    <div class="col">
      <p class="labelTable">Investimento necessário (R$/ha):</p>
      <p>{{ InvNecessario }}</p>
    </div>
  </div>
</div>
<div style="margin-top: 2em;">
  <div class="labelFluxo">Fluxo de caixa</div>
  <div class="chart-container">
    <div style="min-height: 280px; border: 1px solid #29874a">
      <div id="chart" class="chart"></div>
    </div>
  </div>
</div>
{% endblock wizardBody %} {% block wizardConfig %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  const displayCashFlow = () => {
    var graphs = {{ cashFlowJSON | safe
  }};
  graphs.config = { 'displayModeBar': false }
  Plotly.plot('chart', graphs, {});
  }

  wzdControl.initPage({
    mode: wzdControl.mode.CUSTOM, nextPage: 'rsp-sendSpreadsheet.html',
    help: `callback/help?id=${location.pathname.substring(location.pathname.lastIndexOf("/") + 1).replace('.html', '')}`
  });
  window.addEventListener("load", () => { displayCashFlow() });
</script>
{% endblock %} {# eof #}