{% extends "layouts/wizard.tmpl" %}

{% block title %}Finalidade{% endblock %}

{% block wizardDescription %}Finalidade{% endblock %}
{% block wizardInstructions %}Selecione a atividade segundo os critérios{% endblock %}

{% block wizardConfig %}
<script>
  const jsBtn = [
    { caption: 'Área de Preservação Permanente', href: 'rsp-plantDistribution.html?id=3' },
    { caption: 'Reserva Legal', href: 'rsp-plantDistribution.html?id=1' },
    { caption: 'Área de uso alternativo do solo', href: 'rsp-plantDistribution.html?id=2' }
  ];
  wzdControl.initPage({ data: jsBtn, mode: wzdControl.mode.BUTTONS });
</script>
{% endblock %}

{# eof #}