{% extends "layouts/wizard.tmpl" %}

{% block title %}Projetos{% endblock %}

{% block wizardDescription %}Projetos{% endblock %}
{% block wizardInstructions %}Selecione a opção desejada e confirme clicando no botão <br>Ok</br>{% endblock %}

{% block wizardConfig %}
<script>
  const jsBtn = [
    { caption: 'Criar um novo projeto', href: 'rsp-projectLocation.html' },
    { caption: 'Consultar projeto existente criado por você', href: '' }
  ];
  wzdControl.initPage({ data: jsBtn, mode: wzdControl.mode.BUTTONS });
</script>
{% endblock %}

{# eof #}