{% extends "layouts/wizard.tmpl" %}

{% block wizardDescription %}{{ wzdDescription }}{% endblock %}

{% block wizardConfig %}
<script>
  const jsBtn = [
    { caption: '{{ countyFitofisionomy }}', href: 'rsp-locationCountyFitofisionomy.html',
        hint: '{{ helpCountyFitofisionomy }}', selected: '{{ selectedcountyFitofisionomy }}' },
    { caption: '{{ latLon }}',  href: 'rsp-locationLatLon.html',
        hint: '{{ helpLatLon }}', selected: '{{ selectedlatLong }}' }
  ];
  wzdControl.initPage({ data: jsBtn, mode: wzdControl.mode.BUTTONS,
      help: `callback/help?id=${location.pathname.substring(location.pathname.lastIndexOf("/") + 1).replace('.html', '')}`,
  });
</script>
{% endblock %}

{# eof #}