{% extends "layouts/wizard.tmpl" %} {% block wizardConfig %}
<script>
  const jsBtn = [
    {
      caption: ` <div class="containerTable">
    <div class="rowTable">
      <div class="col">
        <p class="labelTable">Nome:</p>
        <p>{{ descProjeto }}</p>
      </div>
      <div class="col">
        <p class="labelTable">Autor:</p>
        <p>{{ current_user.username }}</p>
      </div>
    </div>
    <div class="rowTable">
      <div class="col">
        <p class="labelTable">E-mail:</p>
        <p>{{ current_user.email }}</p>
      </div>
      <div class="col">
        <p class="labelTable">Finalidade:</p>
        <p>{{ desFinalidade }}</p>
      </div>
    </div>
    <div class="rowTable">
      <div class="col">
        <p class="labelTable">Distribuição de plantio:</p>
        <p>{{ nomeModelo }}</p>
      </div>
      <div class="col">
        <p class="labelTable">Declividade:</p>
        <p>{{ NomeTopografia }} - {{ descTopografia }}</p>
      </div>
    </div>
    <div class="rowTable">
      <div class="col">
        <p class="labelTable">Nível de mecanização:</p>
        <p>{{ nomeMecanizacao }}</p>
      </div>
    </div>
  </div>`,
      href: "rsp-ProjectStart.html",
    },
  ];

  wzdControl.initPage({
    data: jsBtn,
    mode: wzdControl.mode.INFO,
    nextPage: "rsp-projectStart.html",
    help: `callback/help?id=${location.pathname
      .substring(location.pathname.lastIndexOf("/") + 1)
      .replace(".html", "")}`,
  });
</script>
{% endblock %} {# eof #}
