<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <!-- ar_map.html version 0.996 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Primary Meta Tags -->
    {% block title %} Projeto e Localização {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Refloresta SP">
    <meta name="author" content="Equipe `Refloresta SP`">
    <meta name="description" content="">

    <link rel="icon" type="image/png" sizes="16x16" href="../../static/assets/img/favicon/favicon-16x16.jpg">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- CSS -->
    <link type="text/css" href="../../static/assets/css/pixel.css" rel="stylesheet">
    <link type="text/css" href="../../static/assets/css/refloresta.css" rel="stylesheet">
    <script>
        const goto = (sHref) => window.location.href = sHref;
    </script>
  </head>
  <body>
    <!-- version 0.990 -->
    <div style="margin-top: 2%">
      <div class="wzdContainer">
        <div class="alert alert-primary mb-3" role="alert">
          <h6 class="alert-heading">Distribuição de Plantio</h6>
          Selecione a atividade segundo os critérios
        </div>
        <div id="grdModelos" class="container">

        </div>
      </div>
    </div>

    <script>
      let jsData;

      async function getDistribution() {
        const response = await fetch('/callback/getDistribution');
        if (!response.ok) {
          alert(`HTTP-Error: ${response.status} on callback().`);
        } else {
          const jsoRsp = await response.json();
          jsData = jsoRsp.data;
          let iLng = jsData.length;
          if (iLng == 0) {
            alert('Não exitem distribuições para esta configuração.');
            return
          }
          const iColCount = Math.min(4, iLng);
          const sPath= '../../static/assets/img/modelo_plantio/';
          const htmCol = '<div class="col m-2" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">';
          const htmRow = '<div class="row">';
          let c = 1;
          let sHtml = ''
          jsData.forEach((itm, i) => {
            if (c == 1) { sHtml += ((sHtml == '') ? '' : '</div>') + htmRow; }
            sHtml += htmCol +
              `<button class="mb-2 btn btn-info" type="button" style="width: 85%; font-size: 13px;" onclick="accept(${i})">${itm.caption + '-- ' + c}</button>` +
              `<img src="${sPath}${itm.fileName}.png" alt="${itm.fileName}">` +
              '</div>';
            c = (c == iColCount) ? 1 : c + 1;
          });
          const iMiss = (iLng % iColCount);
          if (iMiss > 0) { sHtml += (htmCol + '&nbsp;</div>').repeat(iColCount - iMiss) + '</div>'; }

          document.getElementById('grdModelos').innerHTML = sHtml;
        }
      }
      getDistribution();
    </script>

    {% include 'includes/scripts.html' %} {% block javascripts %} {% endblock javascripts %}

  </body>
</html>
