{% extends "layouts/wizard.tmpl" %}

{% block wizardDescription %}{{ wzdDescription }}{% endblock %}

{% block wizardBody %}

  <div class="container" width="60%">
    <div class="row mb-3" style="display: flex; justify-content: center; align-items: center; position: relative;">
      <button type="button" class="btn" style="width: 30px; height: 30px; border-radius: 100%; align-items: center; display: inline-flex; justify-content: center; color: #628d3c; border-color: #628d3c;" tabindex="-1" data-bs-trigger="focus" data-bs-placement="right" data-bs-toggle="popover" data-bs-title="Ajuda" data-bs-content='{{ helpcounty }}'>?</button>
      <label for="municipio" class="labelLocation col-sm-2 col-form-label">{{ countySelect|safe }}</label>
      <select id="municipio" class="col-sm-4 form-select" onchange="muniChanged()" style="width: 50%;">
        <option disabled selected value="-1">- Selecione -</option>
        {{ municipios | safe }}
      </select>
    </div>

    <div class="row mb-3" style="display: flex; justify-content: center; align-items: center; position: relative;">
      <button type="button" class="btn" style="width: 30px; height: 30px; border-radius: 100%; align-items: center; display: inline-flex; justify-content: center; color: #628d3c; border-color: #628d3c;" tabindex="-1" data-bs-trigger="focus" data-bs-placement="right" data-bs-toggle="popover" data-bs-title="Ajuda" data-bs-content='{{ helpFitofisionomy }}'>?</button>
      <label for="fito_ecologica" class="labelLocation col-sm-2 col-form-label">{{ fitoFisionomySelect|safe }}</label>
      <select id="fito_ecologica" class="col-sm-4 form-select " disabled="true" onchange="fitoChanged()" style="width: 50%;">
        <option disabled selected value="-1">- Selecione -</option>
            {{ fito_municipios | safe }}
        </option>
      </select>
    </div>
  </div>
<div style="min-height: 280px; margin-top: 1em; border: 1px solid #29874a ">
  <div id="mapArea" class="chart" style="height: 100%; width: 100%;"><!-- TODO spinner visibility: hidden;" in all maps -->
  </div>
</div>
{% endblock wizardBody %}

{% block wizardConfig %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  const selMuni = wzdControl.ge('municipio');
  const selFito = wzdControl.ge('fito_ecologica');
  const eleMap = wzdControl.ge('mapArea');

  const dummy = '';

  const _setCursor = (sTo) => document.body.style.cursor = sTo ? sTo : 'default';

  //-- Map arrived, show it
  const _showMap = ( /** @type {Object} */ jsoData) => {
    if (!jsoData) { return; }
    const jsData = JSON.parse(jsoData.Map);
    Plotly.react(eleMap.id, jsData, {});
    eleMap.on('plotly_afterplot', _setCursor);
  }

  //--
  const fetchFormData = (oParam, fSuccess, sError) => {
    oParam = { ...{ callerID: '', idMunicipio: '-1', idFito: '-1', latlong: '', CAR: '' }, ...oParam };
    sParams = '';
    for (const sKey in oParam) { sParams += `${sKey}=${oParam[sKey]}&`; }
    wzdControl.fetchObject(`/callback/updateFormData?${sParams}`, fSuccess, sError);
  }

  //--
  const fetchMapOfSP = () => {
    fetchFormData({ callerID: 'mapSP' }, _showMap, 'Não foi possível obter o mapa.');
  }
  //-- instructions or or error
  const setFitoMsg = (sMsg) => selFito.innerHTML = `<option value="-1" disabled>Selecione a fitofisionomia</option>`;

  //-- Muni changed, fetch fitos
  const fetchFitosForMuni = (sMuniId) => {
    // TODO disable select until return
    const _loadFitoOptions = (jsoData) => {
      const oFitos = JSON.parse(jsoData.FitoMunicipio);
      let sOptions = '<option>Selecione</option>';
      // if (selFito.disabled = (Object.keys(oFitos).length == 1)) {
      //   setFitoMsg('Sem fitofisionomias no município.');
      // } else {}
      selFito.disabled = false;
      for (const sKey in oFitos) { sOptions += `<option value='${sKey}'>${oFitos[sKey]}</option>` };
      selFito.innerHTML = sOptions;
      _showMap(jsoData);
      locaChanged();
    }
    fetchFormData({ callerID: selMuni.id, idMunicipio: sMuniId }, _loadFitoOptions, 'Não foi possível obter os fito do Município.');
  }

  //--
  const muniChanged = () => {
    setFitoMsg('{{ thenFitoFisionomy }}');
    if (parseInt(selMuni.value) >= 0) {
      fetchFitosForMuni(selMuni.value);
    }
  }

  const fitoChanged = () => {
    if (parseInt(selFito.value) < 0) { return; }
    const _loadFitoMapa = (jsoData) => {
      _showMap(jsoData);
      locaChanged();
    }
    fetchFormData({ callerID: selFito.id, idMunicipio: selMuni.value, idFito: selFito.value }, _loadFitoMapa, 'Não foi possível obter o mapa da fitofisionomia.');
    selFito.disabled = false;
  }

  //-- Muni or Fito changed, update wizard display
  const locaChanged = () => {
    let sSelected = wzdControl.getSelectedTextFrom(selMuni);
    if (sSelected != '') {
      let sFito = wzdControl.getSelectedTextFrom(selFito);
      sSelected = 'Localidade selecionada: <b>' +
        sSelected +
        (sFito ? `, <i>${sFito}</i>` : '') +
        '</b>';
    }
    wzdControl.displaySelected(sSelected)
  }

  const updateFormData = (sId) => {
    _setCursor();
  }

  wzdControl.initPage({
    mode: wzdControl.mode.CUSTOM, nextPage: 'rsp-areas.html',
    help: `callback/help?id=${location.pathname.substring(location.pathname.lastIndexOf("/") + 1).replace('.html', '')}`
  });
  window.addEventListener("load", () => { (parseInt(selMuni.value) < 0) ? fetchMapOfSP() : fitoChanged() });
  document.body.style.cursor = 'progress';
</script>
{% endblock %}

{# eof #}