<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- ar_map.html version 0.996 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="title" content="Refloresta SP" />
    <meta name="author" content="Equipe `Refloresta SP`" />
    <meta name="description" content="" />

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../static/assets/img/favicon/favicon-16x16.jpg"
    />

    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- CSS -->
    <link
      type="text/css"
      href="../../static/assets/css/pixel.css"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="../../static/assets/css/refloresta.css"
      rel="stylesheet"
    />
  </head>

  <style>
    button{
      background-color: rgb(71, 145, 61);
      border: 1px solid grey;
      border-radius: 18px;
      width: 30%;
      height: 80px;
      color: white;
      font-size: 20px;
    }
    button:hover{
      background-color: rgb(56, 114, 48);
    }
  </style>

  <body>
    <div style="margin-top: 2%">
      <!-- start wzdContainer -->
      <div class="wzdContainer">
        <div style="padding: 15px; display: flex; justify-content: space-evenly;">
          <button>
            + Manual
          </button>
          <button>
            + Mecanizada
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
