{% extends "layouts/wizard.tmpl" %}

{% block wizardDescription %}Informe a Latitude e longitude da localização{% endblock %}


{% block wizardBody %}
<div class="container" width="60%" style="display: flex; flex-direction: column; gap: 15px;">
  <div style="display: flex; align-items: center; position: relative;">
    <button type="button" class="btn" style="width: 30px; height: 30px; border-radius: 100%; align-items: center; display: inline-flex; justify-content: center; color: #628d3c; border-color: #628d3c;" tabindex="-1" data-bs-trigger="focus" data-bs-placement="right" data-bs-toggle="popover" data-bs-title="Ajuda" data-bs-content='{{ helpLat }}'>?</button>
    <label for="lat" class="labelLatLong col-sm-3 col-form-label">Latitude</label>
    <div class="col-sm-4">
         <input id="lat" name="lat" class="form-control" type="text" title="Latitude"
         placeholder="ex: -21.0845" value="-21.0845">
    </div>
  </div>
    <div style="display: flex; align-items: center; position: relative;">
      <button type="button" class="btn" style="width: 30px; height: 30px; border-radius: 100%; align-items: center; display: inline-flex; justify-content: center; color: #628d3c; border-color: #628d3c;" tabindex="-1" data-bs-trigger="focus" data-bs-placement="right" data-bs-toggle="popover" data-bs-title="Ajuda" data-bs-content='{{ helpLon }}'>?</button>
      <label for="lon" class="labelLatLong col-sm-3 col-form-label" style="bottom: 42px">Longitude</label>
      <div class="col-sm-4">
        <input id="lon" name="lon" class="form-control" type="text" title="Longitude"
           placeholder="ex: -50.1416" value="-50.1416">
      </div>
      <button type="button" class="wzd-btnNext btn btn-outline-success" onclick="fetchFitosForMuni()">Ok</button>
    </div>
</div>
<div style="min-height: 280px; margin-top: 1em; border: 1px solid #29874a ">
  <div id="mapArea" class="chart" style="height: 100%; width: 100%;"><!-- TODO spinner visibility: hidden;" -->
  </div>
</div>
{% endblock wizardBody %}

{% block wizardConfig %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

  const selLat = wzdControl.ge('lat');
  const selLong = wzdControl.ge('lon');
  const eleMap = wzdControl.ge('mapArea');

  const _setCursor = (sTo) => document.body.style.cursor = sTo ? sTo : 'default';

  const _showMap = (jsoData) => {
    if (!jsoData) { return; }
    const jsData = JSON.parse(jsoData.Map);
    Plotly.react(eleMap.id, jsData, {});
    eleMap.on('plotly_afterplot', _setCursor);
  }

  const fetchFormData = (oParam, fSuccess, sError) => {
    oParam = { ...{ lat: selLat.value, lon: selLong.value }, ...oParam };
    sParams = '';
    for (const sKey in oParam) { sParams += `${sKey}=${oParam[sKey]}&`; }
    wzdControl.fetchObject(`/callback/locationLatLon?${sParams}`, fSuccess, sError);
  }

  const fetchMapOfSP = () => {
    fetchFormData({ callerID: 'mapSP' }, _showMap, 'Não foi possível obter o mapa.');
  }

  const fetchFitosForMuni = () => {
    const _loadFito = (jsoData) => {
      _showMap(jsoData);
    }
    fetchFormData({ callerID: selLat.id + selLong.id }, _loadFito, 'Localização não encontrada');
  }

  const updateFormData = (sId) => {
    _setCursor();
  }

  wzdControl.initPage({
    mode: wzdControl.mode.CUSTOM,
    nextPage: 'rsp-areas.html',
    help: `callback/help?id=${location.pathname.substring(location.pathname.lastIndexOf("/") + 1).replace('.html', '')}`
  });

  document.body.style.cursor = 'progress';
  window.addEventListener("load", () => {
    if(selLat.value === '' && selLong.value === '') {
    fetchMapOfSP();
  }else if (selLat.value !== '' && selLong.value !== '') {
    fetchFitosForMuni();
  }
  })
</script>
{% endblock %}

{# eof #}