{% extends "layouts/wizard.tmpl" %}

{% block title %}{% endblock %}

{% block wizardDescription %}Finalidade{% endblock %}
{% block wizardInstructions %}Selecione a atividade segundo os critérios{% endblock %}

{% block wizardConfig %}
<script>
  const jsBtn = [
    { caption:
            '<b>Dados do projeto criado/alterado</b><br><br>' +
            '<b>Nome:</b> { projectData.nomeProjeto }<br>' +
            '<b>Autor:</b> { currentuser.username }<br>' +
            '<b>E-mail:</b> { currentuser.email }<br>' +
            '<b>Finalidade:</b> { projectData.descFinalidade }<br>' +
            '<b>Distribuição de plantio: { projectData.descModelo </b>' +
            '<b>Declividade:</b> { projectData.nomeTopografia } - { projectData.descTopografia }' +
            '<b>Nível de mecanização:</b> { projectData.nomeMecanização }' +
            '<b>(dados das faixas selecionadas)</b>',
        href: 'rsp-ProjectStart.html' },
    { caption: 'Área de uso alternativo do solo', href: 'rsp-plantDistribution.html?id=2' }
  ];
  wzdControl.initPage({ data: jsBtn, mode: wzdControl.mode.BUTTONS });
</script>
{% endblock %}

{# eof #}