{% extends "layouts/wizard.tmpl" %}

{% block title %}Relevo{% endblock %}

{% block wizardDescription %}Declividade{% endblock %}
{% block wizardInstructions %}Selecione a declividade do terreno da sua área{% endblock %}

{% block wizardConfig %}
<script>
  const jsBtn = [
    { caption: 'Terreno Plano', id: 1, fileName: 'wzd-terrenoPlano.png'},
    { caption: 'Terreno Suave Ondulado', id: 2, fileName: 'wzd-terrenoSuaveOndulado.png'},
    { caption: ' Terreno Ondulado', id: 3, fileName: 'wzd-terrenoOndulado.png' },
    { caption: 'Terreno Montanhoso', id: 4, fileName: 'wzd-terrenoMontanhoso.png' }
  ];
  wzdControl.initPage({ data: jsBtn, mode: wzdControl.mode.IMAGES, nextPage: 'rsp-mecanization.html' });
</script>
{% endblock %}

{# eof #}