{% extends "layouts/wizard.tmpl" %}
  
{% block wizardDescription %}Informe as medidas do projeto e propriedade (ha){% endblock %}

{% block wizardBody %}
<form id="pnForm">
  <div class="container" width="60%">
    <div class="row mb-3" style="display: flex; align-items: center; justify-content: center;">
      <button type="button" class="btn btn-info" style="width: 30px; height: 30px; border-radius: 100%; align-items: center; display: inline-flex; justify-content: center;" data-bs-toggle="popover" data-bs-title="Ajuda" data-bs-content="texto de ajuda">?</button>
      <label for="propertyArea" class="col-sm-2 col-form-label">Área da Propriedade</label>
      <span class="col-sm-4">
        <input id="propertyArea" name="propertyArea" class="form-control" type="number" title="Área da Propriedade"
          placeholder="ex: 10.0 ha">
      </span>
    </div>
    <div class="row mb-3" style="display: flex; align-items: center; justify-content: center;">
      <button type="button" class="btn btn-info" style="width: 30px; height: 30px; border-radius: 100%; align-items: center; display: inline-flex; justify-content: center;" data-bs-toggle="popover" data-bs-title="Ajuda" data-bs-content="texto de ajuda">?</button>
      <label for="projectArea" class="col-sm-2 col-form-label">Área do Projeto</label>
      <div class="col-sm-4">
        <input id="projectArea" name="projectArea" class="form-control" type="number" title="Área do Projeto"
          placeholder="ex: 2.0 ha">
      </div>
    </div>
  </div>

  <!-- <input type="submit" value="Confirmar" /> -->
</form>
{% endblock wizardBody %}

{% block wizardConfig %}
<script>

let sAction = '/callback/rsp-areas';
  const sendData = () => { // mgd 2023.11.13
    let sParams = '?';
    for (const [key, value] of new FormData(wzdControl.ge('pnForm'))) {
      sParams += `${key}=${value}&`;
    }
    const fSuccess = (sRsp) => {
      if (sRsp.toUpperCase() == 'OK') {
        window.location = wzdControl.nextPageHref
      } else {
        wzdControl.messageError(sRsp);
      }
    }
    wzdControl.fetchObject(sAction + sParams.slice(0, -1), fSuccess, 'Erro nas medidas fornecidas.', null, { type: 'text' });
    return false;
  }

  wzdControl.initPage({
    mode: wzdControl.mode.CUSTOM,
    nextPage: 'rsp-goal.html',
    onNext: () => { sendData(); return false; },
    help: `callback/help?id=${location.pathname.substring(location.pathname.lastIndexOf("/") + 1).replace('.html', '')}`
  });


</script>
{% endblock %}

{# eof #}