{% extends "layouts/wizard.tmpl" %}

{% block title %}Projetos{% endblock %}

{% block wizardDescription %}Finalidade{% endblock %}
{% block wizardInstructions %}Selecione a atividade segundo os critérios{% endblock %}

{% block wizardConfig %}
<script>
  const jsBtn = [
    { caption: 'Área de Preservação Permanente', id: 3 },
    { caption: 'Reserva Legal', id: 1 },
    { caption: 'Área de uso alternativo do solo', id: 2 }
  ];
  wzdControl.initPage({ data: jsBtn, mode: wzdControl.mode.BUTTONS, nextPage: 'rsp-plantDistribution.html' });
</script>
{% endblock %}

{# eof #}